@import "../../styles/root/mixins";

.activePage {
  border-radius: 5px;
  background-color: var(--titleHighlight);
  @include respondAt(1230px) {
    background-color: var(--transparent);
    filter: var(--svgfilter);
  }
}

.HeaderWrapper {
  @include box($height: 130px);
  position: relative;
  // max-width: 1600px;
  padding: 0 60px 0 130px;
  #NavBarInput,
  .hamButton {
    display: none;
  }

  @include respondAt(1230px) {
    height: 100px;
    padding-inline: 30px;
    margin-block: 20px;
  }

  &__left {
    @include make-flex(row, $just: left);
    width: 100%;
    gap: 50px;
    &--logo {
      @include box(47px, 47px);
      transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      filter: var(--svgfilter);
      &--blur {
        filter: var(--svgfilter) blur(3.5px);
      }
    }


    &--searchBar {
      @include make-flex(row, center, flex-start);
      // margin-left: 40px;
      width: 40%;
    }

    &--searchBarInput::placeholder {
      font-family: PowerGroteskTrial;
      font-style: normal;
      color: #4d4d4d;
      line-height: normal;
      font-size: 14px;
      font-weight: 400;
    }

    &--searchBarInput {
      padding: 14px 75px 14px 50px;
      align-items: center;
      width: 100%;
      gap: 11px;
      border-radius: 9px;
      border: none;
      background: #F1F1F1;
      background-image: url('app/Assets/Img/search.svg');
      background-position: 14px 14px;
      background-repeat: no-repeat;
    }

    @include respondAt(575px) {
      &--searchBar {
        width: 100%;
      }

      &--searchBarInput::placeholder {
        font-size: 12px;
      }

      &--searchBarInput {
        padding: 10px 10px 10px 50px;
        background-position: 14px 10px;
      }

      gap: 15px;
    }

    // @include respondAt(1230px) {
    //   display: none;
    // }
  }

  &__right {
    @include make-flex($dir: row);
    @include respondAt(575px) {
      display: none;
    }

    @include respondAt(1230px) {
      justify-content: space-evenly;
      column-gap: 29px;
      width: 100%;
      padding-bottom: 50px;
    }

    // button {
    //   @include box(36px, 36px);
    //   border: none;
    //   border-style: none;
    //   background-color: transparent;
    //   cursor: pointer;
    // }

    // button {
    //   display: flex;
    //   padding: 11px 31px;
    //   align-items: flex-start;
    //   gap: 12px;
    //   border-radius: 9px;
    //   background: none;
    //   border: 1.5px solid var(--light-smoke, #3E3E3E);
    //   text-align: center;
    //   font-size: 14.818px;
    //   font-style: normal;
    //   font-weight: 500;
    //   line-height: normal;
    // }

    &--contactButton {
      @include make-flex(column, center);
      padding: 11px 31px;
      gap: 12px;
      border: 1px solid #3e3e3e;
      color: var(--light-smoke, #3E3E3E);
      text-align: center;
      font-family: PowerGroteskTrial;
      text-decoration: none;
      font-size: 14px;
      // border-width: 3px;
      border-radius: 9px;
      background: white;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      z-index: 100;
      // font-family: "Poppins", sans-serif;
    }

  // @include respondAt(1230px) {
  //   z-index: 5;
  //   @include box($height: 110px);

  //   @include make-flex($dir: row, $just: space-between);
  //   padding: 0 130px;
  //   &__middle {
  //     @include make-flex($dir: column, $align: flex-start, $just: center);
  //     height: fit-content;
  //     width: 100%;
  //     gap: 17px;
  //   }
  //   #NavBarInput {
  //     position: absolute;
  //     opacity: 0;
  //     top: 0;
  //     left: 0;
  //     height: 28px;
  //     margin: 0;
  //     width: 28px;
  //   }
  //   .hamButton {
  //     z-index: 1;
  //     // position: absolute;
  //     height: 28px;
  //     // top: 20%;
  //     // right: 3%;
  //     width: auto;
  //     @include make-flex();
  //     label {
  //       @include make-flex($just: space-around);
  //       height: 100%;
  //       margin: unset;
  //       cursor: pointer;
  //       span {
  //         display: block;
  //         width: 28px;
  //         // border-top: 1.3px solid rgb(124, 34, 34);
  //         height: 3.3px;
  //         background-color: var(--blue);
  //         border-radius: 2px;
  //         transform-origin: 4px 0px;
  //         transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  //         &:first-child {
  //           transform-origin: 0% 0%;
  //         }
  //         &:nth-last-child(2) {
  //           transform-origin: 0% 100%;
  //         }
  //       }
  //     }
  //   }
  // }

  // @include respondAt(1335px) {
  //   padding: 0 65px;
  // }

  // @include respondAt(1135px) {
  //   padding: 0 40px;
  // }

  // @include respondAt(470px) {
  //   padding: 0 30px;
  // }

  }

  &__menu {
    @include box();
    @include make-flex($dir: row, $just: space-between);
    z-index: 3;
    gap: 10px;

    @include respondAt(1230px) {
      // display: inline;
      @include make-flex($dir: row);
      // position: fixed;
      top: 0;
      left: 0;
      // top: 0;
      // position: fixed;
      // @include make-flex($just: flex-start);
      // padding-top: 125px;
      // gap: 15px;
      // right: 0;
      // top: 0;
      // width: 100%;
      // max-width: 290px;
      // // height: 100vh;
      // background-color: var(--navbarBackground);
      // transform: translateX(100%);
      // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  }
}