@import "../../styles/root/mixins";

.HeaderWrapper {
  @include box($height: 150px);
  position: relative;
  max-width: 1585px;

  #NavBarInput,
  .hamButton {
    display: none;
  }

  &__left {
    &--logo {
      @include box(47px, 47px);
      transition: 0.5s linear;

      &--blur {
        filter: blur(3.5px);
      }
    }

    @include respondAt(1530px) {
      display: none;
    }
  }

  &__middle {
    @include box($height: 150px, $width: fit-content);
    @include make-flex($dir: row);
    gap: 50px;
    list-style: none;

    &--option {
      a {
        text-decoration: none;
        color: var(--primaryTextColor);
        font-size: 17px;
        font-weight: normal;
        font-family: "Poppins", sans-serif;
        &:hover {
          text-decoration: underline;
        }
        @include respondAt(1530px) {
          color: var(--navbarItems);
          text-decoration: none;
          font-size: 15px;
          font-weight: 500;
        }
      }
      p {
        // margin-top: 15%;
        font-size: 10px;
        font-weight: 100;
        font-family: "Poppins", sans-serif;
        color: var(--navbarOption);
        padding-bottom: 1.75%;
      }
      @include respondAt(1530px) {
        &:hover {
          img {
            filter: brightness(0) saturate(100%) invert(43%) sepia(80%)
              saturate(1755%) hue-rotate(194deg) brightness(98%) contrast(99%);
          }

          a {
            color: var(--navbarHover);
            text-decoration: none;
          }
        }
      }
      img {
        display: inline;
        margin-right: 15px;
        vertical-align: middle;
        @include box($height: 15px, $width: 15px);
      }
    }
    &--lineSep {
      @include box(100%, 0.25px);
      background-color: var(--navbarLineSep);
    }
  }

  &__right {
    @include make-flex($dir: row);
    @include respondAt(1530px) {
      justify-content: space-evenly;
      column-gap: 29px;
      width: 100%;
      padding-bottom: 50px;
    }
    gap: 30px;
    flex-wrap: wrap;
    a {
      img {
        @include box($height: 19px, $width: 19px);
        @include respondAt(1530px) {
          filter: brightness(0) saturate(100%) invert(93%) sepia(0%)
            saturate(39%) hue-rotate(306deg) brightness(123%) contrast(100%);
          &:hover {
            filter: none;
          }
        }
      }
    }
    &--paragraph {
      font-size: 10px;
      font-weight: 100;
      font-family: "Poppins", sans-serif;
      color: var(--navbarOption);
      padding-bottom: 1.75%;
      width: 100%;
    }
    &--lineSep {
      align-items: center;
      width: 100%;
      height: 0.5px;
      background-color: var(--navbarLineSep);
    }
  }

  @include respondAt(1530px) {
    z-index: 5;
    @include box($height: 110px);

    @include make-flex($dir: row, $just: space-between);
    padding: 0 130px;
    &__middle {
      @include make-flex($dir: column, $align: flex-start, $just: center);
      height: fit-content;
      width: 100%;
      gap: 17px;
    }
    #NavBarInput {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      height: 28px;
      margin: 0;
      width: 28px;
    }
    .hamButton {
      z-index: 1;
      // position: absolute;
      height: 28px;
      // top: 20%;
      // right: 3%;
      width: auto;
      @include make-flex();
      label {
        @include make-flex($just: space-around);
        height: 100%;
        margin: unset;
        span {
          display: block;
          width: 28px;
          // border-top: 1.3px solid rgb(124, 34, 34);
          height: 3.3px;
          background-color: var(--blue);
          border-radius: 2px;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          &:first-child {
            transform-origin: 0% 0%;
          }
          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }
      }
    }

    #NavBarInput:checked ~ .hamButton > label > .span.HL1 {
      opacity: 1;
      transform: rotate(45deg) translate(3px, -5px);
      background-color: var(--navBarCross);
    }
    #NavBarInput:checked ~ .hamButton > label > .span.HL2 {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
      background-color: var(--navBarCross);
    }
    #NavBarInput:checked ~ .hamButton > label > .span.HL3 {
      transform: rotate(-45deg) translate(3px, -1px);
      background-color: var(--navBarCross);
    }
  }

  @include respondAt(1335px) {
    padding: 0 90px;
  }

  @include respondAt(1135px) {
    padding: 0 40px;
  }

  @include respondAt(470px) {
    padding: 0 30px;
  }

  &__menu {
    @include box();
    @include make-flex($dir: row, $just: space-evenly);
    padding: 0 25px;

    @include respondAt(1530px) {
      top: 0;
      position: fixed;
      @include make-flex($just: flex-start);
      padding-top: 125px;
      gap: 15px;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 290px;
      height: 100vh;
      background-color: var(--navbarBackground);
      transform: translateX(100%);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      &--open {
        transform: translateX(0%);
      }

      &__Hamburger {
        position: absolute;
        height: 28px;
        width: 28px;
        top: 55%;
        z-index: 2;
        left: 90%;

        transform: translate(-50%, -50%);
      }
    }
  }

  &__dots {
    position: absolute;
    bottom: 28px;
    left: 0;
    @include make-flex($dir: row, $just: space-evenly);
    gap: 20px;
    width: 100%;

    &--dot {
      @include box(15px, 15px);
      background-color: var(--navbarItems);
      border-radius: 50%;
      display: inline-block;
    }
  }
}
