@import "../../root/mixins";

.ClubInfoPage {
  font-family: "poppins";
  @include box(100vw, 100vh);
  transition: background-color 0.2s ease-in-out;

  &__mainContainer {
    @include box();
    @include make-flex($dir: row, $align: flex-start);

    @include respondAt(805px) {
      flex-direction: column;
    }

    @include respondAt(720px) {
      height: unset;
      min-height: 100%;
      justify-content: flex-start;
    }
  }

  &__navBar {
    padding-left: 1rem;
    @include box(320px);
    @include make-flex($just: flex-start, $align: flex-start);
    gap: 15px;
    padding: 20px 25px;
    height: 100vh;
    background-color: var(--white);
    border-right: 1px solid white;

    &--homeImage {
      @include respondAt(805px) {
        display: none;
      }
    }

    &__userDetails {
      &--userName {
        @include respondAt(800px) {
          display: none;
        }
        font-size: 30px;
        font-weight: 600;
      }

      &--text {
        @include respondAt(800px) {
          display: none;
        }
        line-height: 167.5%;
        margin-top: 10px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.575);
        margin-bottom: 20px;
      }
    }

    &--form {
      width: 100%;
      @include make-flex($dir: row, $just: flex-start);
      height: 50px;

      @include respondAt(805px) {
        min-width: 191px;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    }

    &--navBtn {
      @include make-flex($dir: row, $just: flex-start);
      gap: 13px;
      width: 100%;
      padding: 10px;
      height: 50px;
      border-radius: 7px;
      color: var(--primaryTextColor);
      text-decoration: none;
      background: none;
      border: none;
      opacity: 80%;
      transition: all 0.1s ease-in-out;
      cursor: pointer;
      img {
        width: 20px;
        @include respondAt(800px) {
          width: 18px;
        }
      }
      p {
        font-size: 17px;
        white-space: nowrap;
        @include respondAt(800px) {
          font-size: 15px;
        }
      }
      &:hover {
        opacity: 100%;
        font-weight: 600;
        border: 1px solid #e4e4e4;
      }

      @include respondAt(805px) {
        height: 75%;
        min-width: 191px;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    }
    &--active {
      background-color: var(--blue);
      color: var(--white) !important;
    }

    @include respondAt(805px) {
      height: 75px;
      width: 100vw;
      flex-direction: row;
      align-items: center;
      padding: 4px 8px;
      overflow-x: auto;
    }
  }
  &__contentContainer {
    @include box(calc(100% - 280px));
    @include make-flex($just: flex-start);
    overflow-x: hidden;
    padding: 32px;
    gap: 20px;

    @include respondAt(800px) {
      width: 100%;
      padding: 16px;
      // &__userDetails {
      //   padding-left: 10px;
      //   &--userName {
      //     font-size: 30px;
      //     font-weight: 600;
      //   }

      //   &--text {
      //     line-height: 167.5%;
      //     margin-top: 10px;
      //     font-size: 15px;
      //     color: rgba(0, 0, 0, 0.575);
      //     margin-bottom: 20px;
      //   }
      // }
    }

    @include respondAt(370px) {
      padding: 10px;
    }
  }
  &__InfoForm {
    width: 100%;
    max-width: 1110px;
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--infoFormBorder);
    span {
      color: var(--infoFormSpam);
      font-style: italic;
    }

    &--title {
      font-weight: 600;
    }
    &--subRow {
      height: 100%;
      width: 328px;
      @include make-flex($dir: row);
      gap: 10px;

      input {
        width: 100%;
        height: 100%;
      }
    }
    &--row {
      height: 61px;
      @include make-flex($just: space-between, $dir: row);
      flex-wrap: nowrap;
      padding: 10px 24px;
      border-bottom: 1px solid var(--infoFormBorder);

      @include respondAt(800px) {
        align-items: flex-start;
      }

      @include respondAt(505px) {
        flex-direction: column;
        height: unset;
        padding: 20px;
      }

      input[type="date"] {
        width: 328px;
      }
      input {
        height: 100%;
        border: none;
        padding: 0 10px;
        border-radius: 5px;
        outline-color: var(--infoFormInputOutline);
        position: relative;
        @include respondAt(505px) {
          width: 100%;
          height: 50px;
          border: 1px solid #e4e4e4;
        }
        transition: all 0.3s ease-in-out;

        // &:required {
        //   &::after {
        //     content: " *";
        //     color: #e32;
        //     position: absolute;
        //     margin: 0px 0px 0px -20px;
        //     font-size: xx-large;
        //     padding: 0 5px 0 0;
        //   }
        // }
      }

      input:focus {
        outline-color: #308cf8;
        outline-width: 1px;
        background: #bed9f7;
      }
      textarea {
        height: 100%;
        border: none;
        padding: 10px;
        border-radius: 5px;
        outline-color: var(--infoFormInputOutline);
        outline-width: 1px;
        min-width: 272px;
        min-height: 50px;

        @include respondAt(505px) {
          width: 100%;
          height: 150px;
          border: 1px solid #e4e4e4;
          min-width: 100%;
          max-width: 100%;
        }
      }

      textarea:focus {
        outline-color: #308cf8;
        outline-width: 1px;
        background: #bed9f7;
      }
      label {
        width: 50%;
        font-size: 15px;
        font-weight: 500;
        color: var(--infoFormSpam);
        text-align: left;

        @include respondAt(800px) {
          width: 100%;
        }
        @include respondAt(505px) {
          height: 45px;
        }
      }

      button {
        font-size: 15px;
        border: none;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        border-radius: 8px;
        outline-color: var(--buttonOutline);
        background-color: #363b53;
        color: var(--white);
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transform: all 0.3s ease-in-out;

        @include respondAt(505px) {
          height: 45px;
        }
      }
    }
    &--disabled {
      background-color: var(--infoFormDisabledBG) !important;
      color: var(--infoFormDisabledText) !important;
      cursor: not-allowed;
    }
  }

  &__preview {
    width: 100%;
    max-width: 1110px;
    @include make-flex($align: flex-start);
    gap: 15px;
    padding: 15px 0px;

    &--cardHolder {
      width: 365px;
    }

    @include respondAt(430px) {
      display: none;
    }
  }
}

.logout {
  color: #e12d3a;
}

.logoutBTNContianer {
  margin-left: -5px;

  @include respondAt(800px) {
    margin-top: 10px;
  }
}
