@import "../../root/mixins";

.ClubInfoPage {
  font-family: "poppins";
  @include box(100vw, 100vh);
  transition: background-color 0.2s ease-in-out;

  &__mainContainer {
    @include box(100%, calc(100% - 70px));
    @include make-flex($dir: row, $align: flex-start);

    @include respondAt(805px) {
      flex-direction: column;
    }
  }

  &__navBar {
    @include box(330px);
    @include make-flex($just: flex-start, $align: flex-start);
    gap: 15px;
    padding: 75px 25px;
    height: 100vh;
    background-color: var(--white);
    border-right: 1px solid white;

    &__userDetails {
      &--userName {
        font-size: 30px;
        font-weight: 600;
      }

      &--text {
        margin-top: 10px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.575);
        margin-bottom: 30px;
      }
    }

    &--navBtn {
      width: 100%;
      height: 50px;
      border-radius: 7px;
      color: var(--primaryTextColor);
      text-decoration: none;
      background: none;
      border: none;
      &:hover {
        font-weight: 600;
      }

      @include respondAt(805px) {
        height: 100%;
        min-width: 191px;
      }
    }
    &--active {
      background-color: var(--blue);
      color: var(--white) !important;
    }

    @include respondAt(805px) {
      height: 75px;
      width: 100vw;
      flex-direction: row;
      padding: 8px 8px;
      overflow-x: auto;
    }
  }
  &__contentContainer {
    @include box(calc(100% - 280px));
    @include make-flex($just: flex-start);
    overflow-y: auto;
    padding: 32px 32px 0;
    gap: 20px;
    overflow-y: auto;

    @include respondAt(800px) {
      width: 100%;
    }

    @include respondAt(370px) {
      padding: 10px;
    }
  }
  &__InfoForm {
    width: 100%;
    max-width: 1110px;
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--infoFormBorder);
    span {
      color: var(--infoFormSpam);
      font-style: italic;
    }
    &--row {
      height: 61px;
      @include make-flex($just: space-between, $dir: row);
      flex-wrap: nowrap;
      padding: 10px 24px;
      border-bottom: 1px solid var(--infoFormBorder);

      @include respondAt(505px) {
        flex-direction: column;
        height: unset;
        padding: 20px;
      }
      input {
        height: 100%;
        border: none;
        padding: 0 10px;
        border-radius: 5px;
        outline-width: 1px;
        outline-color: var(--infoFormInputOutline);
        @include respondAt(505px) {
          width: 100%;
          height: 50px;
          border: 1px solid #e4e4e4;
        }
      }
      textarea {
        height: 100%;
        border: none;
        padding: 10px;
        border-radius: 5px;
        outline-color: var(--infoFormInputOutline);
        outline-width: 1px;
        min-width: 272px;
        min-height: 50px;

        @include respondAt(505px) {
          width: 100%;
          height: 150px;
          border: 1px solid #e4e4e4;
          min-width: 100%;
          max-width: 100%;
        }
      }
      label {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: var(--infoFormSpam);
        text-align: left;

        @include respondAt(505px) {
          height: 45px;
        }
      }

      button {
        height: 85%;
        border: none;
        padding: 0 10px;
        border-radius: 5px;
        outline-color: var(--buttonOutline);
        background-color: var(--blue);
        color: var(--white);
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background-color: var(--blue);
          color: var(--white);
        }

        @include respondAt(505px) {
          height: 45px;
        }
      }
    }
    &--disabled {
      background-color: var(--infoFormDisabledBG) !important;
      color: var(--infoFormDisabledText) !important;
      cursor: not-allowed;
    }
  }

  &__preview {
    width: 100%;
    max-width: 1110px;
    @include make-flex($align: flex-start);
    gap: 15px;
    padding: 15px 0px;

    &--cardHolder {
      width: 365px;
    }

    @include respondAt(430px) {
      display: none;
    }
  }
}
