@import "../../root/mixins";

.AdminPage {
  @include box();
  @include make-flex($just: flex-start);

  @include respondAt(900px) {
  }

  &__title {
    @include make-flex($dir: row);
    margin-top: 6vh;
    @include respondAt(900px) {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 30px 30px;
    }

    &--normal,
    &--bold {
      font-family: Poppins, sans-serif;
      padding: 8px;
      font-size: 65px;
      // color: var(--unhighlightTextColor);
      @include respondAt(900px) {
        font-size: 35px;
        line-height: 40px;
      }
    }

    &--normal {
      font-weight: 400; //changed from 500 to 400 :p
      color: var(--primaryTextColor); //new colour :p
    }
    &--bold {
      font-weight: 400; //700 -> 400
      color: var(--unhighlightTextColor);
      // color: var(--highlightTextColor);
      background: linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%); //new colour :p
      // background: var(--titleHighlight);
    }
  }

  &__description {
    font-family: Poppins, sans-serif;
    font-size: 16px;

    // color: var(--primaryTextColor);
    color: black; //as given in design, dont like it :p
    max-width: 600px;

    text-align: center;
    line-height: 167.5%;
    margin-top: 15px;

    @include respondAt(900px) {
      width: 90%;
      margin-top: 17px;
      padding: 0 20px;
    }
    @include respondAt(410px) {
      text-align: left;
    }
  }
  &__main {
    margin-top: 35px;//new margin, no search bar :p
    gap: 50px;
    width: 100%;
    max-width: 1585px;
    padding: 0px 40px;
    min-height: calc(100% - 110px);
    transition: padding 0.5s ease-in-out;
    @include make-flex($just: flex-start);

    @include respondAt(590px) {
      padding: 0 10px;
    }

    &--searchContainer {//useless css :p
      margin-top: 35px;//removing search bar and copying it to AdminPage__main :p
      @include make-flex();
      width: 50%;

      @include respondAt(775px) {
        width: 70%;
      }
      @include respondAt(545px) {
        width: 100%;
        padding: 0 30px 30px;
      }
    }
    &--content {
      @include box();
      min-height: 100vh;
      @include make-flex($dir: row);
      margin-top: 100px;
      margin-bottom: 50px;

      @include respondAt(590px) {
        gap: 50px;
        margin-top: 50px;
        flex-direction: column;
        position: relative;
      }

      @include respondAt(545px) {
        margin-top: 0;
      }

      // @include respondAt(1150px) {
      // 	align-content: flex-start;
      // }
    }
  }

  &__content {
    &--left {
      // @include box(220px, auto);
      @include box(220px, auto);

      @include respondAt(590px) {
        justify-content: space-evenly;
        width: 100%;
        height: auto !important;
        position: sticky;
        top: 0;
        padding: 0 20px;
        // left: 0;
      }
    }
    &--panel {
      font-family: "Poppins", sans-serif;
      @include box(210px, auto);
      @include make-flex($just: flex-start);
      background-color: var(--white);
      border-radius: 25px;
      top: 26%;
      padding: 15px;
      gap: 15px;
      position: sticky;
      box-shadow: 0px 33px 13px rgba(19, 25, 69, 0.01),
        0px 18px 11px rgba(19, 25, 69, 0.05), 0px 8px 8px rgba(19, 25, 69, 0.09),
        0px 2px 5px rgba(19, 25, 69, 0.1), 0px 0px 0px rgba(19, 25, 69, 0.1);

      @include respondAt(590px) {
        @include box(300px, 54px);
        margin: 0 auto;
        padding: 0 10px;
        flex-direction: row;
        justify-content: space-evenly;
        scrollbar-width: none;
        overflow-x: auto;
        z-index: 2;
        gap: 8px;
        top: 0;

        &::-webkit-scrollbar {
          display: none;
        }

        background-image: linear-gradient(to right, white, white),
          linear-gradient(to right, white, white),
          linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
          linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));

        background-position: left center, right center, left center,
          right center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
        background-attachment: local, local, scroll, scroll;
      }

      @include respondAt(540px) {
        width: 100%;
      }

      a {
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        @include box(100%, 45px);
        @include make-flex();
        padding: 10px 7px;
        // color: var(--secondaryTextColor);
        color: black; //as in the design :p
        border-radius: 20px;
        font-weight: 600;
        opacity: 70%;
        transition: all 0.2s ease-in-out;

        @include respondAt(590px) {
          @include box(auto, auto);
        }
      }
      a:hover {
        opacity: 100%;
      }
      .activeTab {
        font-weight: 400; //new weight :p
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        opacity: 100%;
        // color: black;
        background: linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%);     //new colour :p   
        color: var(--white);
        // background-color: var(--blue);
      }
    }

    &--right {
      @include box(calc(100% - 220px), 1100px);
      max-width: 900px;
      @include make-flex($dir: row, $just: flex-start, $align: flex-start);
      flex-wrap: wrap;
      justify-content: center; //centering the contacts when window gets narrower :p
      gap: 25px;
      padding: 0 25px;

      @include respondAt(1150px) {
        height: fit-content;
        align-content: flex-start;
      }

      @include respondAt(680px) {
        padding: 0 0 0 25px;
      }
      @include respondAt(590px) {
        padding: 0 20px 20px;
        @include box(100%, auto);
        align-content: center;
      }
    }
  }
}
