@import "../../root/mixins";

.AdminPage {
  @include box();
  @include make-flex($just: flex-start);

  @include respondAt(900px) {
  }

  &__title {
    @include make-flex($dir: row);
    margin-top: 6vh;
    @include respondAt(900px) {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &--normal,
    &--bold {
      font-family: Poppins, sans-serif;
      padding: 8px;
      font-size: 65px;
      line-height: 167.5%;
      color: var(--primaryTextColor);
      @include respondAt(900px) {
        font-size: 3rem;
        line-height: 40px;
        padding: 15px;
      }
    }

    &--normal {
      font-weight: 550;
    }
    &--bold {
      font-weight: 700;
    }
  }

  &__description {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 167.5%;
    color: var(--primaryTextColor);
    max-width: 600px;

    text-align: center;
    line-height: 167.5%;
    @include respondAt(900px) {
      width: 90%;
      margin-top: 17px;
      margin-bottom: 32px;
      text-align: left;
      font-size: 0.7rem;
      padding: 0px;
      line-height: 18px;
    }
  }
  &__main {
    gap: 50px;
    width: 100%;
    max-width: 1585px;
    padding: 0px 40px;
    min-height: calc(100% - 110px);
    transition: padding 0.5s ease-in-out;
    @include make-flex($just: flex-start);

    @include respondAt(590px) {
      padding: 0 10px;
    }

    &--searchContainer {
      margin-top: 35px;
      @include make-flex();
      width: 50%;

      @include respondAt(775px) {
        width: 70%;
      }
      @include respondAt(545px) {
        width: 100%;
      }
    }
    &--content {
      @include box();
      min-height: 100vh;
      @include make-flex($dir: row);
      margin-top: 100px;
      margin-bottom: 50px;

      @include respondAt(590px) {
        gap: 20px;
        margin-top: 50px;
        flex-direction: column;
        position: relative;
      }

      // @include respondAt(1150px) {
      // 	align-content: flex-start;
      // }
    }
  }

  &__content {
    &--left {
      @include box(220px, auto);

      @include respondAt(590px) {
        @include box(100vw, auto);
        position: absolute;
        top: 0;
        // left: 0;
      }
    }
    &--panel {
      @include box(220px, auto);
      @include make-flex($just: flex-start);
      background-color: var(--white);
      border-radius: 7px;
      top: 26%;
      padding: 15px;
      gap: 15px;
      position: sticky;

      @include respondAt(590px) {
        @include box(390px, 54px);
        margin: 0 auto;
        padding: 0 10px;
        flex-direction: row;
        justify-content: space-evenly;
        scrollbar-width: none;
        overflow-x: auto;
        z-index: 2;
        gap: 8px;
        top: 0;

        &::-webkit-scrollbar {
          display: none;
        }

        background-image: linear-gradient(to right, white, white),
          linear-gradient(to right, white, white),
          linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
          linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));

        background-position: left center, right center, left center,
          right center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
        background-attachment: local, local, scroll, scroll;
      }

      a {
        text-decoration: none;
        @include box(100%, 40px);
        @include make-flex();
        padding: 7px 8px;
        color: var(--secondaryTextColor);
        border-radius: 5px;
        font-weight: 700;

        @include respondAt(590px) {
          @include box(auto, auto);
        }
      }
      a:hover {
        border: 1px solid var(--blue);
      }
      .activeTab {
        color: var(--white);
        background-color: var(--blue);
      }
    }

    &--right {
      @include box(calc(100% - 220px), 1100px);
      max-width: 900px;
      @include make-flex($dir: column, $just: flex-start, $align: center);
      flex-wrap: wrap;
      gap: 25px;
      padding: 0 25px;

      @include respondAt(1150px) {
        height: fit-content;
        align-content: flex-start;
      }

      @include respondAt(680px) {
        padding: 0 0 0 25px;
      }
      @include respondAt(590px) {
        padding: 0;
        @include box(100%, auto);
        margin-top: 70px;
        z-index: 1;
        align-content: center;
      }
    }
  }
}
