.FooterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background: #242836;
}
@media (max-width: 840px) {
  .FooterWrapper {
    height: auto;
  }
}
.FooterWrapper__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1585px;
  padding: 0px 170px;
}
@media (max-width: 1525px) {
  .FooterWrapper__container {
    padding: 0 130px;
  }
}
@media (max-width: 1335px) {
  .FooterWrapper__container {
    padding: 0 90px;
  }
}
@media (max-width: 1135px) {
  .FooterWrapper__container {
    padding: 0 40px;
  }
}
@media (max-width: 840px) {
  .FooterWrapper__container {
    flex-direction: column;
  }
}
@media (max-width: 470px) {
  .FooterWrapper__container {
    padding: 0 0;
  }
}
.FooterWrapper__left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1095px) {
  .FooterWrapper__left {
    width: 250px;
  }
}
@media (max-width: 610px) {
  .FooterWrapper__left {
    width: 100%;
    align-items: center;
  }
}
.FooterWrapper__left--logo {
  width: 250px;
  height: auto;
  margin-top: 30px;
  padding: 0 10px;
}
.FooterWrapper__left--Copyright {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #787777;
}
.FooterWrapper__right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  width: 50%;
  height: 100%;
  padding: 70px 0;
}
@media (max-width: 1095px) {
  .FooterWrapper__right {
    width: 69%;
    padding: 70px 0 70px 20px;
  }
}
@media (max-width: 840px) {
  .FooterWrapper__right {
    width: 100%;
    padding: 40px 25px 55px;
    gap: 20px;
    flex-wrap: wrap;
  }
}
.FooterWrapper__right--Service {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.FooterWrapper__right--Service a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.FooterWrapper__right--Service .mailIcon,
.FooterWrapper__right--Service .callIcon,
.FooterWrapper__right--Service .SocialMediaHandles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.FooterWrapper__right--Service .mailIcon a:hover,
.FooterWrapper__right--Service .callIcon a:hover,
.FooterWrapper__right--Service .SocialMediaHandles a:hover {
  color: #ffc107;
}
.FooterWrapper__right--Service .SocialMediaHandles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  gap: 5px;
  margin-top: 20px;
}
.FooterWrapper__right--Service .SocialMediaHandles a img {
  width: 45px;
}
.FooterWrapper__right--rowHeading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.46);
}

/*# sourceMappingURL=Footer.css.map */
