@import "../../styles/root/mixins";

.FooterWrapper {
  @include make-flex();
  @include box(100%, 350px);
  background: var(--footerBackground);
  @include respondAt(840px) {
    height: auto;
  }

  &__container {
    @include make-flex($dir: row, $just: space-between, $align: center);
    @include box();
    max-width: 1500px;
    padding: 30px 40px 0 40px;
    gap: 150px;
    @include respondAt(1525px) {
      padding: 0 60px 0 100px;
      gap: 100px;
    }
    @include respondAt(1335px) {
      padding: 0 90px;
      gap: 150px;
    }
    @include respondAt(1135px) {
      padding: 0 40px;
    }

    @include respondAt(840px) {
      flex-direction: column;
      gap: 20px;
    }

    @include respondAt(470px) {
      padding: 0 0;
    }
  }

  &__left {
    @include box(40%);
    @include make-flex($align: center);
    gap: 20px;

    @include respondAt(1095px) {
      width: 250px;
    }
    @include respondAt(610px) {
      width: 100%;
      align-items: center;
      padding: 0 10px;
    }

    &--logo {
      @include box(330px, auto);
      margin-bottom: 30px;
      padding: 0 10px;
      filter: var(--svgfilter);
      @include respondAt(1095px) {
        width: 250px;
        margin-top: 30px;
      }
      @include respondAt(610px) {
        width: 250px;
        align-items: center;
      }
    }

    &--Copyright {
      @include box(auto, auto);
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: var(--copyrightText);
    }
  }

  &__right {
    @include make-flex($dir: row, $just: space-between, $align: flex-start);
    gap: 30px;
    @include box(50%);
    padding: 70px 0;

    @include respondAt(1095px) {
      width: 69%;
      padding: 70px 0 70px 20px;
    }
    @include respondAt(840px) {
      width: 100%;
      padding: 40px 25px 55px;
      gap: 50px;
      flex-wrap: wrap;
    }
    &--Service {
      font-family: "Poppins", sans-serif;
      list-style-type: none;
      @include make-flex($align: flex-start);
      gap: 22px;
      a {
        font-size: 15px;
        font-weight: 400;
        @include respondAt(840px) {
          font-size: 14px;
        }
        text-decoration: none;
        color: #f4f5fc;
      }

      .mailIcon,
      .callIcon,
      .SocialMediaHandles {
        @include make-flex($dir: row);
        gap: 5px;
        a {
          &:hover {
            color: var(--contactHover);
          }
        }
      }

      .SocialMediaHandles {
        @include make-flex($dir: row, $just: flex-start);
        @include box(100%, auto);
        gap: 5px;
        margin-top: 4px;

        a {
          img {
            width: 30px;
          }
        }
      }
    }
    &--rowHeading {
      @include respondAt(840px) {
        font-size: 22px;
      }
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: rgba(255, 255, 255, 0.46);
    }
  }
}
