@mixin darkMode() {
  --pageBackground: #242836;
  --primaryTextColor: #d0d0d0;
  --blue: #00badd;
  --white: #ffffff;
  --titleHighlight: #00badd;
  --transparent: transparent;
  --pink: #d202f3;
  --secondaryTextColor: #211f24;
  --darkBlue: #00badd;
  --footerBackground: #242836;
  --copyrightText: #787777;
  --contactHover: #ffc107;
  --navMenuBorder: #a66874;
  --searchBarShadow: #cdced4;
  --searchBarModalActiveBG: #f5f6f7;
  --searchBarActiveBG: rgba(101, 108, 133, 0.8);
  --searchResultHover: #00badd;
  --faqRedirectBackground: #61abfe;
  --navigatePanelShadow: #d9d9d9;
  --navbarBackground: #ffffff;
  --navbarOption: #363b53;
  --navbarLineSep: #363b5327;
  --navBarCross: #363b53;
  --navbarItems: #363b53;
  --boxShadow: -27px -27px 63px #14161e, 27px 27px 63px #343a4e;
  --questions: #242836;
  --textColor: #f4f5fc;
  --highlightTextColor: #242836;
  --unhighlightTextColor: #ffffff;
  --calenderColor: #232e3d;
  --fadedTextColor: #f4f5fc84;
  --fadedDayContainer: #027278;
  --nameTitle: #ffffff;
  --teamText: #ffffff;
  --svgfilter: brightness(0) saturate(100%) invert(61%) sepia(36%)
    saturate(5661%) hue-rotate(151deg) brightness(97%) contrast(105%);
  --headerSvgFilter: brightness(0) saturate(100%) invert(20%) sepia(11%)
    saturate(1773%) hue-rotate(192deg) brightness(93%) contrast(86%);
  --navigateCardColor: #232d3d;
  --navigateCardTitle: #ffffff;
  --navigateCardDesc: #787e96;
  --navigateCardButton: #00badd;
  --navigateCardFilter: brightness(0) saturate(100%) invert(94%) sepia(5%)
    saturate(250%) hue-rotate(230deg) brightness(113%) contrast(100%);
  --dropPlaceCardText: #ffffff;
  --placecardHighlighted: #a9a9a9;
  --modalSVGFilter: brightness(0) saturate(100%) invert(94%) sepia(33%)
    saturate(432%) hue-rotate(180deg) brightness(102%) contrast(98%);
  --calendarCardText: #363b53;
  --calendarSwitchButton: #00badd;
  --eventCardWrapperBorder: #e5c3ff;
  --eventCardBackground: #232e3d;
  --eventDetailsButtonBackground: #e5c3ff;
  --eventCardButton: #e5c3ff;
  --searchColor: #00badd;
}
