@mixin darkMode() {
  --pageBackground: #242836;
  --primaryTextColor: #d0d0d0;
  --blue: #00badd;
  --white: #ffffff;
  --titleHighlight: #00badd;
  --transparent: transparent;
  --pink: #d202f3;
  --secondaryTextColor: #211f24;
  --darkBlue: #00badd;
  --footerBackground: #242836;
  --copyrightText: #787777;
  --contactHover: #ffc107;
  --navMenuBorder: #a66874;
  --searchBarShadow: #cdced4;
  --faqRedirectBackground: #61abfe;
  --navigatePanelShadow: #d9d9d9;
  --navbarBackground: #ffffff;
  --navbarOption: #363b53;
  --navbarLineSep: #363b5327;
  --navBarCross: #363b53;
  --navbarItems: #363b53;
  --boxShadow: -27px -27px 63px #14161e, 27px 27px 63px #343a4e;
  --questions: #242836;
  --svgfilter: brightness(0) saturate(100%) invert(44%) sepia(49%)
    saturate(2564%) hue-rotate(195deg) brightness(100%) contrast(95%);
  --headerSvgFilter: brightness(0) saturate(100%) invert(20%) sepia(11%)
    saturate(1773%) hue-rotate(192deg) brightness(93%) contrast(86%);
}
