@mixin lightMode() {
  --pageBackground: #f4f5fc;
  --primaryTextColor: #363b53;
  --blue: #61AAFF;
  --white: #ffffff;
  --black: #000000;
  --titleHighlight: #d0eeff;
  --transparent: transparent;
  --pink: #d202f3;
  --secondaryTextColor: #211f24;
  --lightBlue: #d0eeff;
  --footerBackground: #242836;
  --copyrightText: #787777;
  --contactHover: #ffc107;
  --navMenuBorder: #a66874;
  --searchBarShadow: #cdced4;
  --faqRedirectBackground: #61abfe;
  --navigatePanelShadow: #d9d9d9;
  --navbarBackground: #242836;
  --navbarOption: #ffffff;
  --navbarHover: #00badd;
  --navbarLineSep: #ffffff59;
  --navBarCross: #ffffff;
  --navbarItems: #ffffff;
  --boxShadow: 7px 7px 14px #cdced4, -7px -7px 14px #ffffff;
  --questions: #363b53;
  --textColor: #363B53;
  --highlightTextColor: #363B53;
  --unhighlightTextColor: #363B53;
  --calenderColor : #ffffff;
  --fadedTextColor : #363b5384;
  --nameTitle: #4C4C4C;
  --teamText: #6C6C6C;
  --svgfilter: brightness(0) saturate(100%) invert(44%) sepia(49%)
    saturate(2564%) hue-rotate(195deg) brightness(100%) contrast(95%);
  --headerSvgFilter: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(1%) hue-rotate(46deg) brightness(110%) contrast(101%);
  --fadedDayContainer: rgba(255, 0, 0, 0.538);
  --eventCardButton: #e5c3ff;
  --footerRowHeadings: #8b8b92
  --antiqueWhite: antiquewhite;
  --placecardHighlighted: #a9a9a9;
  --searchBarActiveBG: rgba(101, 108, 133, 0.8);
  --searchBarModalActiveBG: #f5f6f7;
  --searchResultHover: #3884ff;
  --clubInfoHeaderBG: #36344d;
  --infoFormBorder: #dad9da;
  --infoFormSpam: #727586;
  --infoFormInputOutline: #b8b8b8;
  --infoFormDisabledBG: #e7e8ef;
  --infoFormDisabledText: #838383;
  --placeCardWrapperBorder: #e4e4e4;
  --eventCardWrapperBorder:#e5c3ff;
  --buttonOutline: #eeeeee
  --faqDropdownCross: #F83030;
  --navigateCardColor: #ffffff;
  --navigateCardTitle: #000000;
  --navigateCardDesc: #797979;
  --navigateCardButton: #363b53;
  --navigateCardFilter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(7479%) hue-rotate(242deg) brightness(109%) contrast(104%);
  --dropPlaceCardText: #000000;

}
