@import "../../styles/root/mixins";

.PlaceCardWrapper {
  @include box(265px, auto);
  @include make-flex($just: space-between);
  background-color: var(--white);
  border-radius: 8px;
  gap: 10px;

  transition: background-color 1000ms linear;

  &--highlighted {
    background-color: var(--placecardHighlighted);
  }

  &--image {
    @include box($height: auto);
    border-radius: 6px;
    // padding: 15px 15px 0;
    @include respondAt(450px) {
      @include box($width: 50%, $height: 100%);
    }
  }

  &__content {
    @include make-flex($align: flex-start);
    color: var(--primaryTextColor);
    font-family: "Poppins", sans-serif;
    gap: 10px;
    padding: 15px 15px 0;
    &--poc {
      span {
        font-weight: 500;
      }
    }
    @include respondAt(450px) {
      flex-direction: row;
      font-size: smaller;
      &--text {
        border-bottom: 1px solid black;
      }
      &--title {
        font-weight: 500;
      }
      // #content {
      //   height: 0;
      //   overflow: hidden;
      // }

      padding-bottom: 15px;
    }
  }

  &__actions {
    @include box(100%, 35px);
    @include make-flex($dir: row, $just: space-between);
    // gap: 10px;

    &--link {
      @include box(100%, 35px);
      @include make-flex($dir: row);
      color: var(--primaryTextColor);
      gap: 10px;
      text-decoration: none;
      background-color: var(--white);
      border-top: 1px solid var(--placeCardWrapperBorder);
      border-right: 1px solid var(--placeCardWrapperBorder);

      &:first-child {
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        border-bottom-right-radius: 6px;
        border-right: none;
      }

      &:hover {
        background-color: var(--blue);
        color: var(--white);
      }
    }
    &--icon {
      @include box(17px, 17px);
      filter: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(90%) contrast(110%);
      @include respondAt(450px) {
        @include box(12px, 12px);
      }
    }
    @include respondAt(450px) {
      @include box(100%);
      flex-direction: column;
      row-gap: 1px;
      justify-content: flex-start;
      align-items: flex-start;

      &--link {
        width: auto;
        height: auto;
        justify-content: flex-start;
        gap: 3px;
        border: none;
      }
    }
  }

  @include respondAt(450px) {
    @include box(100%, auto);
  }
  @include respondAt(590px) {
    justify-content: space-between;
  }
}
