@import "../../styles/root/mixins";

.PlaceCardWrapper {
  @include box(265px, auto);
  @include make-flex($just: flex-start);
  background-color: var(--white);
  border-radius: 8px;
  gap: 10px;

  &--image {
    @include box($height: auto);
    border-radius: 6px;
  }

  &__content {
    @include make-flex($align: flex-start);
    color: var(--primaryTextColor);
    font-family: "Poppins", sans-serif;
    gap: 10px;
    padding: 15px 15px 0;

    &--poc {
      span {
        font-weight: 500;
      }
    }
  }
  @include respondAt(450px) {
    @include box(100%, auto);
  }

  &__actions {
    @include box(100%, 35px);
    @include make-flex($dir: row, $just: space-between);
    // gap: 10px;

    &--link {
      @include box(100%, 35px);
      @include make-flex();
      color: var(--primaryTextColor);
      gap: 10px;
      text-decoration: none;
      background-color: var(--white);
      border-top: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4;

      &:first-child {
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        border-bottom-right-radius: 6px;
        border-right: none;
      }

      &:hover {
        background-color: var(--blue);
        color: var(--white);
      }
    }
  }
}
