@import "../../styles/root/mixins";

.EventCardWrapper {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  @include make-flex($dir: row);
  @include box(100%, 105px);
  border-radius: 8px;
  padding: 13px;

  border-left: 8px solid var(--eventCardWrapperBorder);

  @include respondAt(1135px) {
    width: 365px;
  }

  @include respondAt(470px) {
    width: 100%;
  }

  &__left {
    @include box(50%);
    @include make-flex($just: space-between, $align: flex-start);
    &--title {
      color: var(--primaryTextColor);
      font-weight: 500;
      font-size: 23px;
    }
    &--top {
      @include make-flex($dir: row, $just: flex-start);
      width: 100%;
      gap: 10px;
      h4 {
        font-weight: 400;
        font-size: 13px;
      }
      img {
        height: 15px;
      }
    }
    &--desc {
      font-size: 15px;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__right {
    @include box(50%);
    @include make-flex($just: space-between, $align: flex-end);
    &--button {
      border: 1px solid var(--eventCardButton);
      color: var(--eventCardButton);
      border-radius: 5px;
      background-color: var(--transparent);
      cursor: pointer;
      transition: background-color 0.25s ease-in-out;
      &:hover {
        background-color: var(--eventCardButton);
        color: var(--white);
      }
    }
    font-weight: 300;
  }
}
