@import "../../styles/root/mixins";

.EventCardWrapper {
  font-family: "Poppins", sans-serif;
  background-color: var(--eventCardBackground);
  @include make-flex($dir: row);
  @include box(100%, 110px);
  min-height: 120px;
  border-radius: 8px;
  padding: 13px;

  border-left: 8px solid var(--eventCardWrapperBorder);

  @include respondAt(1135px) {
    width: 365px;
    flex-grow: 1;
  }

  @include respondAt(470px) {
    width: 100%;
  }

  &__left {
    @include box(50%);
    @include make-flex($just: space-between, $align: flex-start);
    &--title {
      color: var(--textColor);
      font-weight: 500;
      font-size: 22px;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--top {
      @include make-flex($dir: row, $just: flex-start);
      width: 100%;
      gap: 10px;
      h4 {
        font-weight: 400;
        font-size: 13px;
        color: var(--textColor);
      }
      img {
        height: 15px;
        filter: var(--svgfilter);
      }
    }
    &--location {
      color: var(--textColor);
      font-size: 12px;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__right {
    @include box(50%);
    @include make-flex($just: space-between, $align: flex-end);
    p {
      color: var(--textColor);
      font-size: 12px;
      white-space: nowrap;
    }
    &--date {
      font-size: 12px;
    }

    &--button {
      border: 1px solid var(--eventCardButton);
      // color: var(--eventCardButton);
      border: 1.5px solid var(--eventDetailsButtonBackground);
      border-radius: 5px;
      padding: 4px 6px;
      background-color: var(--transparent);
      cursor: pointer;
      color: var(--eventDetailsButtonBackground);
      transition: background-color 0.25s ease-in-out;
      font-size: 13px;
      font-weight: 400;
      &:hover {
        background-color: var(--eventCardButton);
        color: var(--textColor);
      }
    }
    font-weight: 300;
  }
}
