.MockNavigatorWrapper {
  width: 100%;
  height: 250px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.HeaderWrapper {
  width: 100%;
  height: 150px;
  position: relative;
}
.HeaderWrapper #NavBarInput,
.HeaderWrapper .hamButton {
  display: none;
}
.HeaderWrapper__left--logo {
  width: 47px;
  height: 47px;
}
.HeaderWrapper__middle {
  width: fit-content;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
.HeaderWrapper__middle--option a {
  text-decoration: none;
  color: var(--primaryTextColor);
  font-size: 17px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
.HeaderWrapper__middle--option a:hover {
  text-decoration: underline;
}
.HeaderWrapper__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.HeaderWrapper__right a img {
  width: 19px;
  height: 19px;
}
@media (max-width: 1530px) {
  .HeaderWrapper {
    z-index: 5;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
  }
  .HeaderWrapper__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .HeaderWrapper #NavBarInput {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 28px;
    margin: 0;
    width: 28px;
  }
  .HeaderWrapper .hamButton {
    z-index: 1;
    height: 28px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .HeaderWrapper .hamButton label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: unset;
  }
  .HeaderWrapper .hamButton label span {
    display: block;
    width: 28px;
    height: 3.3px;
    background-color: var(--blue);
    border-radius: 2px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .HeaderWrapper .hamButton label span:first-child {
    transform-origin: 0% 0%;
  }
  .HeaderWrapper .hamButton label span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .HeaderWrapper #NavBarInput:checked ~ .hamButton > label > .span.HL1 {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -5px);
  }
  .HeaderWrapper #NavBarInput:checked ~ .hamButton > label > .span.HL2 {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .HeaderWrapper #NavBarInput:checked ~ .hamButton > label > .span.HL3 {
    transform: rotate(-45deg) translate(3px, -1px);
  }
}
@media (max-width: 470px) {
  .HeaderWrapper {
    padding: 0 30px;
  }
}
.HeaderWrapper__menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 170px;
}
@media (max-width: 1530px) {
  .HeaderWrapper__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 290px;
    height: 100vh;
    border-left: 4px solid #a66874;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .HeaderWrapper__menu--open {
    transform: translateX(0%);
  }
  .HeaderWrapper__menu__Hamburger {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 55%;
    z-index: 2;
    left: 90%;
    transform: translate(-50%, -50%);
  }
}

.ButtonLinkWrapper {
  width: 150px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 1.5px solid var(--blue);
  color: var(--blue);
  text-decoration: none;
  padding: 10px 12px;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}
.ButtonLinkWrapper:hover {
  background-color: var(--blue);
  color: var(--white);
}
.ButtonLinkWrapper--fill {
  background-color: var(--blue);
  color: var(--white);
}
.ButtonLinkWrapper--fill:hover {
  background-color: var(--transparent);
  color: var(--blue);
}

.SearchBarWrapper {
  width: 80%;
  height: 50px;
  position: relative;
}
@media (max-width: 1095px) {
  .SearchBarWrapper {
    width: 100%;
    height: 50px;
  }
}
.SearchBarWrapper__input {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: var(--white);
  color: var(--primaryTextColor);
  border: none;
  padding: 6px 70px 6px 20px;
  box-shadow: 7px 7px 14px #cdced4, -7px -7px 14px #ffffff;
}
.SearchBarWrapper__submit {
  width: 70px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 7px 7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryTextColor);
  border: none;
  cursor: pointer;
}
.SearchBarWrapper__submit img {
  width: 29px;
  height: 29px;
  cursor: inherit;
}

.InfoComponent__Container {
  position: sticky;
  top: 30%;
}
.InfoComponent__content--container {
  display: flex;
  gap: 40px;
}
.InfoComponent__content--container__indicator--container__indicator {
  display: flex;
  margin-bottom: 70px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid var(--blue);
}
.InfoComponent__content--container__indicator--container .active {
  background: var(--blue);
}
.InfoComponent__content--container__content__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--primaryTextColor);
  font-size: 43px;
}
.InfoComponent__content--container__content__title span {
  border: 2px solid var(--titleHighlight);
  font-weight: 600;
}

/*# sourceMappingURL=components.css.map */
