.MockNavigatorWrapper {
  width: 100%;
  height: 250px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.HeaderWrapper {
  width: 100%;
  height: 150px;
  position: relative;
}
.HeaderWrapper #NavBarInput,
.HeaderWrapper .hamButton {
  display: none;
}
.HeaderWrapper__left--logo {
  width: 47px;
  height: 47px;
}
.HeaderWrapper__middle {
  width: fit-content;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
.HeaderWrapper__middle--option a {
  text-decoration: none;
  color: var(--primaryTextColor);
  font-size: 17px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
.HeaderWrapper__middle--option a:hover {
  text-decoration: underline;
}
.HeaderWrapper__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.HeaderWrapper__right a img {
  width: 19px;
  height: 19px;
}
@media (max-width: 1530px) {
  .HeaderWrapper {
    z-index: 5;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
  }
  .HeaderWrapper__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .HeaderWrapper #NavBarInput {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 28px;
    margin: 0;
    width: 28px;
  }
  .HeaderWrapper .hamButton {
    z-index: 1;
    height: 28px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .HeaderWrapper .hamButton label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: unset;
  }
  .HeaderWrapper .hamButton label span {
    display: block;
    width: 28px;
    height: 3.3px;
    background-color: var(--blue);
    border-radius: 2px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .HeaderWrapper .hamButton label span:first-child {
    transform-origin: 0% 0%;
  }
  .HeaderWrapper .hamButton label span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .HeaderWrapper #NavBarInput:checked ~ .hamButton > label > .span.HL1 {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -5px);
  }
  .HeaderWrapper #NavBarInput:checked ~ .hamButton > label > .span.HL2 {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .HeaderWrapper #NavBarInput:checked ~ .hamButton > label > .span.HL3 {
    transform: rotate(-45deg) translate(3px, -1px);
  }
}
@media (max-width: 470px) {
  .HeaderWrapper {
    padding: 0 30px;
  }
}
.HeaderWrapper__menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 170px;
}
@media (max-width: 1530px) {
  .HeaderWrapper__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 290px;
    height: 100vh;
    border-left: 4px solid #a66874;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .HeaderWrapper__menu--open {
    transform: translateX(0%);
  }
  .HeaderWrapper__menu__Hamburger {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 55%;
    z-index: 2;
    left: 90%;
    transform: translate(-50%, -50%);
  }
}

.ButtonLinkWrapper {
  width: 150px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 1.5px solid var(--blue);
  color: var(--blue);
  text-decoration: none;
  padding: 10px 12px;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}
.ButtonLinkWrapper:hover {
  background-color: var(--blue);
  color: var(--white);
}
.ButtonLinkWrapper--fill {
  background-color: var(--blue);
  color: var(--white);
}
.ButtonLinkWrapper--fill:hover {
  background-color: var(--transparent);
  color: var(--blue);
}

.SearchBarWrapper {
  width: 80%;
  height: 50px;
  position: relative;
}
@media (max-width: 1095px) {
  .SearchBarWrapper {
    width: 100%;
    height: 50px;
  }
}
.SearchBarWrapper__input {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: var(--white);
  color: var(--primaryTextColor);
  border: none;
  padding: 6px 70px 6px 20px;
  box-shadow: 7px 7px 14px #cdced4, -7px -7px 14px #ffffff;
}
.SearchBarWrapper__submit {
  width: 70px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 7px 7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryTextColor);
  border: none;
  cursor: pointer;
}
.SearchBarWrapper__submit img {
  width: 29px;
  height: 29px;
  cursor: inherit;
}

.FooterBackground {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  display: flex;
  padding: 6%;
  background: #242836;
}
@media (max-width: 970px) {
  .FooterBackground {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
  }
}

.LogoandTag {
  width: 50%;
  height: 200px;
}
@media (max-width: 970px) {
  .LogoandTag {
    width: 100%;
    height: 130px;
    margin-top: 20%;
    margin-bottom: 5%;
  }
}

.Logo {
  width: 29%;
  height: 200px;
}
@media (max-width: 970px) {
  .Logo {
    width: 33%;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

.CopyrightTag {
  width: 29%;
  height: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  margin-top: 2%;
  text-align: center;
  color: #787777;
}
@media (max-width: 1504px) {
  .CopyrightTag {
    width: 33%;
    height: 50px;
  }
}
@media (max-width: 1321px) {
  .CopyrightTag {
    width: 35%;
    height: 50px;
  }
}
@media (max-width: 1246px) {
  .CopyrightTag {
    width: 37%;
    height: 50px;
  }
}
@media (max-width: 1180px) {
  .CopyrightTag {
    width: 40%;
    height: 50px;
    text-align: left;
  }
}
@media (max-width: 1092px) {
  .CopyrightTag {
    width: 42%;
    height: 20px;
    font-size: 8px;
    text-align: left;
  }
}
@media (max-width: 970px) {
  .CopyrightTag {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 7%;
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

li:not(:last-child) {
  margin-bottom: 18px;
}
@media (max-width: 970px) {
  li:not(:last-child) {
    margin-bottom: 0;
    line-height: 60px;
  }
}

@media (max-width: 970px) {
  li :last-child {
    line-height: 60px;
  }
}

li.RowHeading {
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.46);
}
@media (max-width: 950px) {
  li.RowHeading {
    font-size: 25px;
    line-height: 80px;
  }
}

.Service {
  width: 15%;
  height: 164.5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 12px;
  color: #ffffff;
}
@media (max-width: 970px) {
  .Service {
    width: 50%;
    height: 21%;
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 970px) {
  .Resources {
    width: 50%;
    height: 15%;
  }
}

.Contacts img {
  display: inline;
  margin-right: 5px;
}
@media (max-width: 1095px) {
  .Contacts {
    font-size: 10px;
  }
}
@media (max-width: 970px) {
  .Contacts {
    font-size: 14px;
  }
}
@media (max-width: 970px) {
  .Contacts li.SocialMediaHandles {
    width: 100%;
  }
}
.Contacts .SocialMediaIcons {
  margin-right: 12px;
}
@media (max-width: 970px) {
  .Contacts .SocialMediaIcons {
    margin-top: 35%;
    height: 21px;
  }
}
@media (max-width: 970px) {
  .Contacts .LinkedIn {
    padding: 0 10%;
  }
}
@media (max-width: 376px) {
  .Contacts .LinkedIn {
    padding: 0 8%;
  }
}
@media (max-width: 970px) {
  .Contacts .mailIcon img {
    height: 14px;
  }
}
@media (max-width: 392px) {
  .Contacts .mailIcon img {
    height: 10px;
  }
}
@media (max-width: 375px) {
  .Contacts .mailIcon {
    font-size: 13px;
  }
}
@media (max-width: 970px) {
  .Contacts .callIcon img {
    height: 16px;
  }
}

/*# sourceMappingURL=components.css.map */
