// Main configs
@import "./mixins";
@import "./fonts.scss";

// themes
@import "./theme/light.scss";
@import "./theme/dark.scss";
@import "./theme/pink.scss";

//kept it here so that there's design visible
.light {
  @include lightMode();
}
.dark {
  @include darkMode();
}
.pink {
  @include pinkMode();
}

html {
  height: 100%;
}

body {
  min-height: 100%;

  font-family: "system-ui", "sans-serif";
  line-height: 1.4;
  background-color: var(--pageBackground);

  @include respondAt(1230px) {
    height: unset;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
	width: 4px;
	height: 8px;
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: rgb(151, 151, 151);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #888;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #f1f1f1;
}
