@import "../../root/mixins";

.EventsPage {
  @include make-flex($just: flex-start);
  min-height: 100vh;

  &__mainContainer {
    // gap: 50px;
    width: 100%;
    max-width: 1585px;
    padding: 0px 170px 60px; 
    min-height: calc(100% - 150px);
    // max-height: 775px;
    @include make-flex($just: flex-start, $dir: row, $align: stretch);
    transition: padding 0.5s ease-in-out, filter 0.5s;
    gap: 31px;

    margin-top: 38px;

    // flex-wrap: wrap;
    // background-color: aqua;

    @include respondAt(1525px) {
      padding: 0 130px 50px;
    }
    @include respondAt(1335px) {
      padding: 0 90px 50px;
    }
    @include respondAt(1135px) {
      padding: 0 40px 60px;
      flex-direction: column;
      align-items: center;
    }
    @include respondAt(470px) {
      padding: 0 20px 60px;
    }
  }

  &__top {
    width: 100%;
  }
  &__left {
    @include make-flex($align: flex-start, $just: flex-start);
    @include box(380px, 620px);
    font-family: "Poppins", sans-serif;
    gap: 20px;

    &--title {
      color: var(--textColor);
      font-size: 35px;
      font-weight: 500;
      span {
        background-color: var(--titleHighlight);
        color: var(--highlightTextColor);
        font-weight: 600;
      }
    }
    &--subTitle {
      color: var(--primaryTextColor);
      font-size: 16px;
      font-weight: 300;
    }
    &--events {
      @include make-flex($just: flex-start, $align: flex-start);
      gap: 15px;
      padding-right: 0.5rem;
      height: 100%;
      width: 100%;
      overflow: auto;

      @include respondAt(1135px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
      }
    }
    @include respondAt(1135px) {
      width: 820px;
    }
    @include respondAt(885px) {
      width: 100%;
    }
  }
  &__right {
    @include make-flex();
    @include box(fit-content);
    max-width: calc(100% - 365px);
    &--calender {
      position: relative;
      background-color: var(--calenderColor);
      border-radius: 19px;
      padding: 10px;
      width: 100%;
      @include respondAt(1041px) {
        padding: 0px;
      }
      @include respondAt(1135px) {
        width: unset;
      }
      @include respondAt(885px) {
        width: 100%;
      }
    }
    &--EmptyOverLay {
      position: absolute;
      bottom: 0;
      left: 0;
      @include box($height:87%);
      @include make-flex();
      z-index: 1;
      background: var(--emptyCalenderOpacity);
      backdrop-filter: blur(14px);
      h1 {
        width: 60%;
        text-align: center;
        color: var(--textColor);

        @include respondAt(625px) {
          width: 80%;
        }
        @include respondAt(425px) {
          font-size: 20px;
        }
      }
    }

    @include respondAt(1135px) {
      width: unset;
      max-width: unset;
    }
    @include respondAt(885px) {
      width: 100%;
    }
  }
}
