@import "../../styles/root/mixins";

.AcademicInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;

  &:hover {
    background-color: #e3eeff;
  }

  &--admin {
    // @include respondAt(590px) {
    // }
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__content {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-width: 60%;

    @include respondAt(590px) {
      padding-bottom: 5px;
    }

    @include respondAt(900px) {
      gap: 5px;
    }
    &__text {
      &--dept {
        font-family: "Poppins", sans-serif;
        word-break: break-word;
        font-size: 13px;
        font-weight: 600;
      }
      &--name {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 400;
      }
    }
    img {
      max-width: fit-content;
    }
  }
  &__action {
    // @include box(fit-content);

    @include make-flex($dir: row, $just: space-between);
    gap: 10px;
    padding: 10px;
    overflow: hidden;

    // @include respondAt(590px) {
    // }

    #openLink {
      width: 150px;
    }

    &__link {
      @include box($height: 30px);
      @include make-flex();
      font-size: 10px;
      border-radius: 5px;
      white-space: nowrap;
      overflow: hidden;
      min-width: 70px;
      cursor: pointer;
      color: white;
      background-color: var(--contactButton);
      text-decoration: none;
      padding: 10px 12px;
      font-family: "Poppins", sans-serif;
      line-height: 27px;
      font-weight: 600;
      transition: background-color 0.3s ease-in-out;

      @include respondAt(780px) {
        padding: 6px 8px;
      }
      &:hover {
        background-color: var(--blue);
        color: var(--white);
      }
    }
  }
  &--admin > &__action {
    padding: 0 10px 10px 40px;
    @include respondAt(345px) {
      gap: 6px;
      padding-left: 21px;
    }
  }
}
