@import "../../styles/root/mixins";

.DropPlaceCardWrapper {
  @include box($height: unset);
  min-height: 90px;
  margin-bottom: 10px;

  &__face {
    @include box($height: 90px);
    background-color: var(--navigateCardColor);
    border-radius: 8px;
    @include make-flex($just: space-between, $dir: row);
    padding: 15px;
    border-style: none;
    cursor: pointer;
    gap: 15px;
    &--image {
      width: 90px;
      border-radius: 6px;
    }

    &--text {
      @include box(62%);
      @include make-flex($align: flex-start, $just: space-between);
      max-width: 80%;

      @include respondAt(480px) {
        width: 58%;
      }
      @include respondAt(404px) {
        width: 50%;
      }
      h3,
      p {
        text-align: start;
      }

      h3 {
        font-size: 20px;
        @include respondAt(500px) {
          font-size: 4vw;
        }
        color: var(--dropPlaceCardText);
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        color: var(--navigateCardDesc);
      }
    }
    span {
      color: var(--navbarBackground);
      width: 10%;
      font-size: 20px;
    }
    &--active {
      border-radius: 5px 5px 0 0;
    }
  }

  &__content {
    @include box($height: 100%);
    @include make-flex($align: flex-start, $just: space-between);
    gap: 15px;
    border-radius: 0 0 5px 5px;
    color: var(--navigateCardDesc);

    &--top {
      padding: 0 15px;
      @include make-flex($just: flex-start, $align: flex-start);
      gap: 10px;
    }

    background-color: var(--navigateCardColor);
  }

  &__actions {
    @include box(100%, 40px);
    @include make-flex($dir: row, $just: space-between);
    // gap: 10px;

    &--link {
      @include box(100%, 40px);
      @include make-flex($dir: row);
      color: var(--navigateCardDesc);
      gap: 10px;
      text-decoration: none;
      background-color: var(--navigateCardColor);
      border-top: 1px solid var(--placeCardWrapperBorder);
      border-right: 1px solid var(--placeCardWrapperBorder);

      &:first-child {
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        border-bottom-right-radius: 6px;
        border-right: none;
      }

      &:hover {
        background-color: var(--blue);
        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(8%)
            saturate(2%) hue-rotate(5deg) brightness(111%) contrast(101%);
        }
        color: var(--white);
      }
    }
    &--icon {
      @include box(17px, 17px);
      filter: var(--svgfilter);

      @include respondAt(450px) {
        @include box(12px, 12px);
      }
    }
  }
}
