html {
  height: unset !important;
}

.NavigatePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}
.NavigatePage__main {
  gap: 50px;
  width: 100%;
  max-width: 1585px;
  padding: 0px 170px 60px;
  min-height: calc(100% - 110px);
  transition: padding 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1525px) {
  .NavigatePage__main {
    padding: 0 130px;
  }
}
@media (max-width: 1335px) {
  .NavigatePage__main {
    padding: 0 90px;
  }
}
@media (max-width: 1135px) {
  .NavigatePage__main {
    padding: 0 40px;
  }
}
.NavigatePage__main--searchContainer {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
@media (max-width: 775px) {
  .NavigatePage__main--searchContainer {
    width: 70%;
  }
}
@media (max-width: 545px) {
  .NavigatePage__main--searchContainer {
    width: 100%;
  }
}
.NavigatePage__main--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 27px;
  padding-top: 68px;
  color: var(--primaryTextColor);
  font-family: "Poppins", sans-serif;
}
.NavigatePage__main--hero h1 {
  font-size: 75px;
  font-weight: 500;
}
.NavigatePage__main--hero h1 span {
  font-weight: 600;
}
@media (max-width: 775px) {
  .NavigatePage__main--hero h1 {
    font-size: 60px;
  }
}
@media (max-width: 635px) {
  .NavigatePage__main--hero h1 {
    font-size: 50px;
  }
}
.NavigatePage__main--hero p {
  width: 60%;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}
@media (max-width: 770px) {
  .NavigatePage__main--hero p {
    width: 70%;
  }
}
@media (max-width: 545px) {
  .NavigatePage__main--hero p {
    width: 100%;
  }
}
@media (max-width: 545px) {
  .NavigatePage__main--hero p {
    text-align: start;
  }
}
@media (max-width: 635px) {
  .NavigatePage__main--hero {
    padding-top: 0;
  }
}
.NavigatePage__main--content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media (max-width: 590px) {
  .NavigatePage__main--content {
    gap: 20px;
    margin-top: 50px;
    flex-direction: column;
    position: relative;
  }
}
.NavigatePage__content--left {
  width: 220px;
  height: auto;
  overflow: visible;
}
@media (max-width: 590px) {
  .NavigatePage__content--left {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
  }
}
.NavigatePage__content--panel {
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 7px;
  top: 26%;
  padding: 15px;
  gap: 15px;
  position: sticky;
}
@media (max-width: 590px) {
  .NavigatePage__content--panel {
    width: 100%;
    height: 54px;
    padding: 0 10px;
    flex-direction: row;
    scrollbar-width: none;
    border-radius: 0;
    overflow-x: auto;
    z-index: 2;
    gap: 8px;
    top: 0;
    background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
  }
  .NavigatePage__content--panel::-webkit-scrollbar {
    display: none;
  }
}
.NavigatePage__content--panel a {
  text-decoration: none;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px 8px;
  color: var(--primaryTextColor);
  border-radius: 5px;
}
@media (max-width: 590px) {
  .NavigatePage__content--panel a {
    width: auto;
    height: auto;
  }
}
.NavigatePage__content--panel a:hover {
  border: 1px solid var(--blue);
}
.NavigatePage__content--panel .activeTab {
  color: var(--white);
  background-color: var(--blue);
}
.NavigatePage__content--right {
  width: calc(100% - 220px);
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0 25px;
}
@media (max-width: 680px) {
  .NavigatePage__content--right {
    padding: 0 0 0 25px;
  }
}
@media (max-width: 590px) {
  .NavigatePage__content--right {
    padding: 0;
    width: 100%;
    height: auto;
    margin-top: 70px;
    z-index: 1;
  }
}

/*# sourceMappingURL=Navigate.css.map */
