@import "../../root/mixins";

.NavigatePage {
  font-family: "Poppins";
  display: flex;
  min-height: 100vh;

  &__content {
    &--right {
      @include make-flex($align: stretch);
      gap: 20px;
    }

    &--desktop {
      @include respondAt(585px) {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @include respondAt(585px) {
        display: flex;
        // padding: 20px;
      }
    }
  }

  &__left {
    // padding-left: 1rem;
    // padding-right: 0.5rem;
    width: 30%;
    @include respondAt(585px) {
      width: 100%;
      height: 100%;
    }

    padding-top: 4vh;

    &--header {
      @include make-flex($dir: row, $just: space-between);

      &--logo {
        @include box(47px, 47px);
        // filter: var(--svgfilter);
        @include respondAt(585px) {
          width: 100%;
        }
      }

      &--back {
        font-family: "Poppins";
        white-space: nowrap;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        text-align: end;
        color: var(--unhighlightTextColor);
        @include respondAt(775px) {
          font-size: 0.8rem;
        }
        @include respondAt(585px) {
          font-size: 18px;
        }
      }
    }

    &--container {
      width: 100%;
      @include respondAt(628px) {
        height: 100%;
        width: 100%;
      }

      padding: 0 20px 20px;
      @include respondAt(585px) {
        padding: 0 40px 40px;
      }
      @include respondAt(470px) {
        padding: 0 30px 30px;
      }
      margin: 0 auto;
    }

    background-color: var(--pageBackground);
    display: flex;
    flex-direction: column;

    &__content {
      width: 90%;
      margin-top: 8vh;
      margin-bottom: 4vh;
      color: var(--primaryTextColor);

      &--title {
        @include box();
        font-size: 35px;
        // color: var(--unhighlightTextColor);
        color: var(--primaryTextColorMain); //for the new light mode :p
        font-weight: 400; //new weight 500 -> 400:p
        margin-bottom: 1vh;

        @include respondAt(890px) {
          font-size: 2.5vw;
        }

        @include respondAt(585px) {
          font-size: 2.5rem;
        }
        @include respondAt(420px) {
          font-size: 2.1rem;
        }
        @include respondAt(360px) {
          font-size: 1.65rem;
        }
      }

      &--desc {
        font-size: 16px;
        line-height: 167.5%;
        margin-top: 20px;
        color: black;//given in design :p
      }
      span {
        // color: var(--highlightTextColor);
        // background: var(--titleHighlight);
        // color: var(--highlightTextColor);
        color: white;  //new color :p
        // color: yellow;
        // background: var(--titleHighlight);
        background: linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%);     //new colour :p 
        padding-left: 0.45rem;
        padding-right: 0.45rem;
        font-weight: 400;//new weight in design :p
        margin-left: 5px;
      }
    }
  }

  #map > div {
    width: 70% !important;
  }
  &__right {
    @include respondAt(585px) {
      display: none;
    }

    &--panel {
      overflow: hidden;
      top: 61px;
      right: 11px;

      @include box(215px, auto);
      @include make-flex($just: flex-start);
      scrollbar-width: none;

      overflow-x: auto;
      border-radius: 7px;

      z-index: 33;
      position: fixed;
      gap: 8px;

      &--ac {
        @include box($height: 100%);
        background-color: #f4f5fc;
        @include make-flex($just: flex-start);
        padding: 10px;
        border-radius: 8px;
        a {
          text-decoration: none;
          height: 60px;
          width: 100%;
          @include make-flex($align: center);
          padding: 7px 8px;
          padding-top: 15px;
          padding-bottom: 15px;
          color: #343a4e;
          border-radius: 5px;
          @include respondAt(585px) {
            @include box(auto, auto);
            color: var(--black);
            padding-top: 10px;
            padding-bottom: 10px;
          }
          img {
            margin-right: 0.7rem;
            @include box(15px, 15px);
            display: inline;
            @include respondAt(585px) {
              display: none;
            }
          }
          @include respondAtAlt(585px) {
            div {
              width: 70%;
            }
          }
        }
        a:hover {
          @include respondAtAlt(585px) {
            border: 1px solid #898989;
          }
          @include respondAt(585px) {
            // border: 1px solid var(--blue);
            border: 1px solid var(--primaryColor);
          }
        }
        .activeTab {
          @include respondAtAlt(585px) {
            font-weight: bolder;
          }
          @include respondAt(585px) {
            color: var(--white);
            // background-color: var(--blue);
            padding: 9px 11px;
            background: linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%);     //new colour :p
            border-radius: 20px;
            // background-color: var(--primaryColor);
          }
        }

        @include respondAt(585px) {
          background-color: transparent;
          flex-direction: row;
          justify-content: space-evenly;
          width: unset;
          height: unset;
        }
      }
      button {
        @include box(100%, auto);
        background-color: #f4f5fc;
        padding: 10px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 26px;
        border-radius: 7px;
        border: 1px solid black;
        @include make-flex($dir: row);
        gap: 20px;
        cursor: pointer;
        img {
          width: 16px;
        }
      }
      @include respondAt(585px) {
        @include box(100%, 54px);
        padding: 0 10px;
        flex-direction: row;
        button {
          display: none;
        }
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 9%;

        z-index: 2;

        &::-webkit-scrollbar {
          display: none;
        }

        background-image: linear-gradient(to right, white, white),
          linear-gradient(to right, white, white),
          linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
          linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));

        background-position: left center, right center, left center,
          right center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
        background-attachment: local, local, scroll, scroll;
      }
    }
    width: 70%;
    iframe {
      position: fixed;
      width: inherit;
      height: 100vh;
    }
  }
}
