.inquiryFeedbackSection {
padding-block: 150px ;
background: #000000;
position: relative;
width: 100%;
//@include make-flex($dir: row, $just: flex-start);
flex-direction: row;
justify-content: flex-start;
@include respondAt(575px){
    flex-direction: column;
    // padding-top: 90px;
    // padding-bottom: 0px;
    padding: 90px 0px 0px 30px;
}

&__left, &__right {
    @include box(50%)
}

&__left {
    @include make-flex($align: flex-start);
    padding-left: 130px;
    gap: 30px;
    @include respondAt(575px){
    padding-left: 0px;
    width:100%;     
    }
    &--heading {
    color: var(--light-grey, #D2D2D2);
    font-family: AcidGroteskRegular;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 116.45%; /* 92.733px */
    @include respondAt(575px){
        font-size: 2.1rem;
        width: 100%;
    }
    }
}

&__right {
    @include make-flex($dir: row, $just: flex-end);
    // flex-direction: row;
    // justify-content: flex-end;
    position: absolute;
    overflow-x: hidden;
    right:0;
    top:0px;
    &--img {
    height: 100%;
    /*@include respondAt(575px){
        height:200px;
        width:auto;
        margin: 0;
        border: 0;
    }*/
    }
    @include respondAt(575px){
    display: none;
    /*flex-direction: column;
    align-items: center;
    width:100%;
    padding: 20px;*/
    }
}

&__bottom {
    display:none;
    @include respondAt(575px){
    @include make-flex($dir: column, $align: center);
    margin-top: -160px;
    margin-left: -30px;
    // position: absolute;
    // overflow-x: hidden;
    // right:0;
    // top:0px;

    // position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 100%;
    //top: -100px;
    &--img{
        height: 70%;
    }
    }
}

&__buttons {
    @include make-flex($dir: row, $align: flex-start);
    /*flex-direction: row;
    align-items: flex-start;*/
    gap: 15.951px;

    &--button {
    // padding: 27.914px 11.206px !important;
    width: 170px;
    border-radius: 11.963px;
    color: var(--white);
    text-align: center;
    font-family: PowerGroteskTrial;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include respondAt(575px){
        width:150px;
        font-size: 15px;

        //padding: 20px 11.206px !important;
    }
    }

    &--getInTouchButton {
    color: var(--white, #FFF);
    padding: 27.914px 11.206px !important;
    border-radius: 11.963px;
    border: 1.994px solid var(--light-smoke, #3E3E3E);
    background: var(--dark-smoke, #181818);
    @include respondAt(575px) {
        padding: 20px 11.206px !important;
        border-radius: 7px;
        font-size: 13.5px;
    }
    }

    &--getInTouchWithEmojiButton {
    border-radius: 14px;
    border: none;
    background: rgba(255, 255, 255, 0.60);
    color: var(--black, #000);
    font-family: AcidGroteskRegular;
    font-size: 17.421px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.95%; /* 40.295px */
    @include respondAt(575px) {
        height: 30px;
        width: 140px;
        padding: 0px !important;
        border-radius: 8px;
        font-size: 14px;
    }
    }

    &--instagramButton {
    border: none;
    border-radius: 11.491px;
    padding: 28.914px 11.206px !important;
    background: var(--gradient, linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%));
    @include respondAt(575px) {
        padding: 21.6px 11.206px !important;
        border-radius: 7px;
        font-size: 13.5px;
    }
    }
}
}