@import "../../styles/root/mixins";

.NavCardContainer {
  font-family: "Poppins", sans-serif;
  background-color: var(--navigateCardColor);
  border-radius: 9px;
  padding: 17px;
  @include make-flex($dir: row);
  @include box(100%, auto);

  gap: 2.4rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: background-color 1000ms linear;

  &--highlighted {
    background-color: var(--placecardHighlighted);
  }
  &__picture {
    width: 40%;
    height: 100%;
  }

  &__picture {
    img {
      @include box();
      max-width: 573px;
      max-height: 95px;
      border-radius: 0.6em;
    }
  }

  &__content {
    @include make-flex($just: flex-start, $align: flex-start);
    width: 54%;
    gap: 5px;

    &__name {
      color: var(--navigateCardTitle);
      font-size: 1.2em;
      @include respondAt(720px) {
        font-size: 1em;
      }
    }

    &__desc {
      max-width: 35ch;
      font-size: 13px;
      font-weight: 400;
      color: var(--navigateCardDesc);
      line-height: 1.2;
      letter-spacing: 0.8px;
    }

    &__ctas {
      @include make-flex($dir: row, $just: flex-start);
      gap: 2rem;
      font-weight: 500;

      &--location-button {
        font-size: 14px;
        border-radius: 0.4rem;
        border: 1.4px #363b5300 solid;
        background-color: var(--navigateCardButton);
        padding: 9% 16%;
        color: var(--navigateCardColor);
      }

      &--location-button:hover {
        background-color: var(--navigateCardColor);
        color: var(--navigateCardButton);
        border: 1.4px var(--navigateCardButton) solid;
        transition: 0.3s;
        cursor: pointer;
      }

      &--menu-button {
        font-size: 14px;
        padding: 16% 48%;
        border-radius: 0.4rem;
        border: 1px var(--navigateCardButton) solid;
        background-color: transparent;
        color: var(--navigateCardButton);
        @include respondAt(1280px) {
          padding: 7% 48%;
        }
      }
      &--menu-button:hover {
        cursor: pointer;
        background-color: var(--navigateCardButton);
        color: var(--navigateCardColor);
        transition: 0.3s;
      }
      @include respondAt(1280px) {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
      }
    }
  }
  &__contact {
    justify-self: flex-end;
    @include make-flex($dir: column);
    gap: 12px;
    filter: var(--navigateCardFilter);
  }
}
