@import "../../styles/root/mixins";

.NavCardContainer {
  margin-bottom: 5%;
  font-family: "Poppins", sans-serif;
  background-color: var(--navigateCardColor);
  border-radius: 0.6rem;
  padding: 1.4rem;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 1.4rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: background-color 1000ms linear;

  &--highlighted {
    background-color: var(--placecardHighlighted);
  }

  @include respondAt(1135px) {
    width: 338px;
  }

  @include respondAt(1080px) {
    width: 324px;
  }

  @include respondAt(628px) {
    width: 100%;
  }

  &__picture {
    img {
      @include box();
      max-width: 573px;
      border-radius: 0.6rem;
    }
  }

  &__content {
    @include make-flex($just: flex-start, $align: flex-start);

    &__name {
      color: var(--navigateCardTitle);
      font-size: 21px;
      margin-bottom: 1vh;
    }

    &__desc {
      max-width: 35ch;
      font-size: 13px;
      font-weight: 400;
      color: var(--navigateCardDesc);
      line-height: 1.2;
      letter-spacing: 0.8px;
      margin-bottom: 2vh;
    }

    &__ctas {
      @include make-flex($dir: row, $align: flex-start, $just: flex-start);
      gap: 1rem;
      font-weight: 500;

      .location-button {
        padding: 0.6rem 1.5rem;
        border-radius: 0.4rem;
        border: 1.4px #363b5300 solid;
        background-color: var(--navigateCardButton);
        color: var(--navigateCardColor);
      }

      .location-button:hover {
        background-color: var(--navigateCardColor);
        color: var(--navigateCardButton);
        border: 1.4px var(--navigateCardButton) solid;
        transition: 0.3s;
        cursor: pointer;
      }

      .menu-button {
        border-radius: 0.4rem;
        padding: 0.6rem 1.5rem;
        border: 1px var(--navigateCardButton) solid;
        background-color: transparent;
        color: var(--navigateCardButton);
      }

      .menu-button:hover {
        cursor: pointer;
        background-color: var(--navigateCardButton);
        color: var(--navigateCardColor);
        transition: 0.3s;
      }
    }
  }
  &__contact {
    justify-self: flex-end;
    @include make-flex($dir: column);
    gap: 12px;
    filter: var(--navigateCardFilter);
  }
}
