@import "../../styles/root/mixins";

.SearchBarWrapper {
  // height: 50px;
  @include box(80%, 50px);
  position: relative;

  @include respondAt(1095px) {
    @include box(100%, 50px);
  }

  &__input {
    @include box();
    border-radius: 7px;
    background-color: var(--white);
    color: var(--primaryTextColor);
    border: none;
    padding: 6px 70px 6px 20px;

    box-shadow: 7px 7px 14px #cdced4, -7px -7px 14px #ffffff;
  }

  &__submit {
    @include box(70px);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 7px 7px 0;
    @include make-flex();
    background-color: var(--primaryTextColor);
    border: none;
    cursor: pointer;
    img {
      @include box(29px, 29px);
      cursor: inherit;
    }
  }
}
