@import "../../styles/root/mixins";

.SearchBarWrapper {
  // @include box(80%, 50px);
  @include box(100%, 50px);
  position: relative;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include respondAt(1095px) {
    @include box(100%, 50px);
  }

  &--active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--searchBarActiveBG);
    z-index: 99;
  }

  &__modal {
    &--snugptImage {
      background-image: url('app/Assets/Img/tryGptSearchBox.svg');
      background-position: 0px 0px;
      background-repeat: no-repeat;
      height: 80px;
      @include respondAt(575px) {
        height: 75px;
      }
    }
  }

  &__modal--active {
    width: 80%;
    max-width: 550px;
    height: fit-content;
    max-height: 500px;
    position: relative;
    margin: 60px auto;
    background-color: var(--searchBarModalActiveBG);
    border-radius: 5px;
    @include respondAt(575px) {
      width: 95%;
    }
  }

  &__trending {
    width: 100%;
    padding: 10px 20px 10px 20px;
    // max-width: 550px;
    // height: fit-content;
    max-height: 500px;
    position: relative;
    &--text {
      color: #4B587C;
      font-family: AcidGroteskRegular;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__items {
      @include make-flex($dir: row, $just: flex-start);
      margin-top: 20px;
      gap: 10px;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &--item {
        font-size: 12px;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid #E4EAF2;
        padding: 10px 20px;
        color: #4B587C;
        font-family: AcidGroteskRegular;
        min-width: fit-content;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__searchBox {
    @include box(100%, 50px);
    position: relative;

    @include respondAt(1095px) {
      @include box(100%, 50px);
    }

    &--contents {
      display: none;
      &--active {
        display: block;
      }
    }

    &--active {
      @include box(100%, 50px);
    }
  }

  &__input {
    @include box();
    border-radius: 7px;
    // background-color: var(--white);
    background-color: #f1f1f1;
    color: var(--primaryTextColor);
    border: none;
    background-image: url('app/Assets/Img/search.svg');
    background-position: 14px 14px;
    background-repeat: no-repeat;
    // padding: 6px 70px 6px 20px;
    padding: 6px 20px 6px 50px;

    &:focus-visible {
      outline: none;
    }
  }

  &__input::placeholder {
    color: var(--thin-smoke, #4D4D4D);
    font-family: PowerGroteskTrial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__submit {
    @include box(70px);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 7px 7px 0;
    @include make-flex();
    background-color: var(--searchColor);
    border: none;
    cursor: pointer;
    img {
      @include box(29px, 29px);
      cursor: inherit;
    }

    &--active {
      display: none;
    }
  }

  &__searchResults {
    width: 100%;
    height: fit-content;
    max-height: 450px;
    padding: 0;
    overflow-y: auto;
    display: none;

    &--active {
      display: block;
      // padding-bottom: 12px;
    }
  }

  &__searchResult {
    width: 100%;
    display: flex;
    @include make-flex(column, space-between, start);
    padding: 8px 20px;
    // border-radius: 4px;
    text-decoration: none;
    border-top: 1px solid #E4EAF2;
    color: var(--black);

    &:hover {
      // background-color: var(--searchResultHover);
      background: linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%);
      color: var(--white);

      .SearchBarWrapper__resultCategory {
        color: #b6c7f5;
      }

    }
  }

  &__resultCategory {
    width: fit-content;
    font-family: AcidGroteskRegular;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: 600;
    // opacity: 0.5;
    color: #4B587C;
  }

  &__resultName {
    width: fit-content;
    font-size: 14px;
    font-weight: 500; 
    white-space: nowrap;
  }
}
