.buttonContainer {
  border: 1px solid #e5c3ff;
  color: #e5c3ff;
  border-radius: 5px;
  background-color: var(--transparent);
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: #e5c3ff;
    color: white;
  }
}
