@import "../../root/mixins";

.FaqsPage {
  @include make-flex($just: flex-start);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;

  &__mainContainer {
    @include make-flex($just: flex-start);
    width: 100%;
    max-width: 1585px;
    min-height: calc(100% - 110px);
    padding: 0px 170px;
    transition: padding 0.2s ease-in-out;

    @include respondAt(1525px) {
      padding: 0 130px;
    }
    @include respondAt(1335px) {
      padding: 0 90px;
    }
    @include respondAt(1135px) {
      padding: 0 40px;
    }

    @include respondAt(470px) {
      padding: 0 20px;
    }
  }

  .mainSection {
    @include make-flex($just: flex-start);
    padding-bottom: 40px;
    width: 100%;

    &__top {
      @include box($height: 75%);
      @include make-flex($dir: column);
      padding: 50px 0;
      gap: 20px;
    }

    &__title {
      text-align: center;
      @include box(100%, auto);
      font-family: "Poppins", sans-serif;
      font-size: 67px;
      font-weight: 500;
      line-height: 82px;
      color: var(--primaryTextColor);

      @include respondAt(664px) {
        font-size: 50px;
      }

      @include respondAt(505px) {
        font-size: 9vw;
        line-height: 60px;
      }
    }

    &__desc {
      font-family: "Poppins", sans-serif;
      line-height: 30px;
      @include box(60%, auto);
      text-align: center;

      @include respondAt(670px) {
        @include box(100%, auto);
      }
    }

    &__bottom {
      @include box($height: 25%);
      @include make-flex($dir: column);
      gap: 60px;

      @include respondAt(1135px) {
        padding: 0 0;
      }

      @include respondAt(1095px) {
        flex-direction: column;
        gap: 20px;
      }

      &--left,
      &--right {
        @include box(50%);
        @include respondAt(1095px) {
        }
      }
    }

    &__categories {
      @include make-flex($dir: row);
      gap: 25px;
      width: 100%;
    }

    &__categoryName {
      @include make-flex();
      background-color: transparent;
      border: none;
      font-family: "Poppins", sans-serif;
      line-height: 30px;
      font-size: 19px;
      font-weight: 500;
      text-decoration: none;
      height: 40px;
      max-width: 220px;
      background-color: var(--white);
      color: var(--primaryTextColor);
      border-radius: 8px;
      &:hover {
        opacity: 100%;
      }

      &--active {
        background-color: var(--blue);
        color: var(--white);
      }
    }

    &__questions {
      @include make-flex($dir: column);
      width: 80%;

      @include respondAt(800px) {
        width: 100%;
      }
    }
  }
}
