@import "../../root/mixins";

.FaqsPage {
  @include make-flex($just: flex-start);
  overflow: hidden;
  min-height: 100vh;

  &__mainContainer {
    @include make-flex($just: flex-start);
    width: 100%;
    max-width: 1585px;
    min-height: calc(100% - 110px);
    padding: 0px 170px;
    transition: padding 0.2s ease-in-out;

    @include respondAt(1525px) {
      padding: 0 130px;
    }
    @include respondAt(1335px) {
      padding: 0 90px;
    }
    @include respondAt(1135px) {
      padding: 0 40px;
    }

    @include respondAt(470px) {
      padding: 0 20px;
    }
  }

  .mainSection {
    color: var(--textColor);
    @include make-flex($just: flex-start);
    // padding-bottom: 40px;
    width: 100%;
    min-height: calc(100vh - 110px);

    &__top {
      @include box($height: 75%);
      @include make-flex($dir: column);
      padding: 50px 0;
      gap: 20px;
    }

    &__title {
      text-align: center;
      @include box(100%, auto);
      font-family: Poppins, sans-serif;
      font-size: 67px;
      font-weight: 500;
      line-height: 82px;
      color: var(--textColor);

      @include respondAt(664px) {
        font-size: 50px;
      }

      @include respondAt(505px) {
        font-size: 9vw;
        line-height: 60px;
      }
    }

    &__desc {
      color: var(--textColor);
      font-family: "Poppins", sans-serif;
      line-height: 30px;
      @include box(60%, auto);
      text-align: center;
      color: var(--primaryTextColor);

      @include respondAt(670px) {
        @include box(100%, auto);
      }
    }

    &__bottom {
      @include box($height: 25%);
      @include make-flex($dir: row, $align: flex-start);
      gap: 60px;

      @include respondAt(1135px) {
        padding: 0 0;
      }

      @include respondAt(1095px) {
        gap: 20px;
      }

      @include respondAt(750px) {
        @include make-flex($dir: column, $align: flex-start);
        gap: 20px;
      }

      &--left,
      &--right {
        @include box(50%);
        @include respondAt(1095px) {
        }
      }
    }

    // &__dropDownWrapper {
    // 	width: 100%;
    // 	margin-left: 10%;
    // 	margin-bottom: 5%;
    // 	align-items: flex-start;

    // 	@include respondAtAlt(750px) {
    // 		display: none;
    // 	}
    // }

    // &__dropDown {
    // 	// @include make-flex($dir: row, $just: flex-start);
    // 	width: fit-content;
    // 	padding: 10px;
    // 	border-radius: 4px;
    // 	background-color: #fff;
    // 	// gap: 10px;
    // 	font-family: 'Poppins';
    // 	font-style: normal;
    // 	font-weight: 500;

    // 	// p {
    // 	// }
    // }

    // &__dropDownArrow {
    // 	width: 15px;
    // 	height: 15px;
    // }

    &__categories {
      @include make-flex($dir: column, $align: stretch);
      gap: 32.5px;
      width: 192px;
      overflow-x: auto;

      @include respondAt(750px) {
        @include make-flex($dir: row, $just: space-between);
				width: 100%;
        gap: 5px;
        background-color: transparent;
        padding: 10px;
      }
    }

    &__categoryBox {
      @include make-flex($dir: row,$just:flex-start);
      box-sizing: content-box;
      height: 40px;
      // width: 100%;
      min-width: 143px;
      padding: 0 15px;
      background-color: var(--white);
      border-radius: 8px;
      background-color: transparent;

      // @include respondAt(750px) {
      // 	border-radius: 0px;
      // }

      &:hover {
        opacity: 100%;
      }

      &--active {
        background-color: var(--blue);
      }
    }

    &__categoryIcon {
      display: inline;
      margin-right: 15px;
      vertical-align: middle;
      @include box($height: 15px, $width: 15px);
    }

    &__categoryName {
      color: var(--primaryTextColor);
      border: none;
      font-family: "Poppins", sans-serif;
      line-height: 30px;
      font-size: 19px;
      font-weight: 500;
      text-decoration: none;
      white-space: nowrap;

      &--active {
        color: var(--white);
      }
    }

    &__questions {
      @include make-flex($dir: column);
      width: 80%;
      gap: 10px;

      @include respondAt(800px) {
        width: 100%;
      }
    }
  }
}
