.FaqsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}
.FaqsPage__mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1585px;
  min-height: calc(100% - 110px);
  padding: 0px 170px;
  transition: padding 0.2s ease-in-out;
}
@media (max-width: 1525px) {
  .FaqsPage__mainContainer {
    padding: 0 130px;
  }
}
@media (max-width: 1335px) {
  .FaqsPage__mainContainer {
    padding: 0 90px;
  }
}
@media (max-width: 1135px) {
  .FaqsPage__mainContainer {
    padding: 0 40px;
  }
}
@media (max-width: 470px) {
  .FaqsPage__mainContainer {
    padding: 0 20px;
  }
}
.FaqsPage .mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 110px);
}
.FaqsPage .mainSection__top {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 20px;
}
.FaqsPage .mainSection__title {
  text-align: center;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 67px;
  font-weight: 500;
  line-height: 82px;
  color: var(--primaryTextColor);
}
@media (max-width: 664px) {
  .FaqsPage .mainSection__title {
    font-size: 50px;
  }
}
@media (max-width: 505px) {
  .FaqsPage .mainSection__title {
    font-size: 9vw;
    line-height: 60px;
  }
}
.FaqsPage .mainSection__desc {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  width: 60%;
  height: auto;
  text-align: center;
}
@media (max-width: 670px) {
  .FaqsPage .mainSection__desc {
    width: 100%;
    height: auto;
  }
}
.FaqsPage .mainSection__bottom {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media (max-width: 1135px) {
  .FaqsPage .mainSection__bottom {
    padding: 0 0;
  }
}
@media (max-width: 1095px) {
  .FaqsPage .mainSection__bottom {
    flex-direction: column;
    gap: 20px;
  }
}
.FaqsPage .mainSection__bottom--left, .FaqsPage .mainSection__bottom--right {
  width: 50%;
  height: 100%;
}
.FaqsPage .mainSection__categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
.FaqsPage .mainSection__categoryName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
  height: 40px;
  max-width: 220px;
  background-color: var(--white);
  color: var(--primaryTextColor);
  border-radius: 8px;
}
.FaqsPage .mainSection__categoryName:hover {
  opacity: 100%;
}
.FaqsPage .mainSection__categoryName--active {
  background-color: var(--blue);
  color: var(--white);
}
.FaqsPage .mainSection__questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 10px;
}
@media (max-width: 800px) {
  .FaqsPage .mainSection__questions {
    width: 100%;
  }
}

/*# sourceMappingURL=Faqs.css.map */
