.FaqsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}
.FaqsPage__mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1585px;
  min-height: calc(100% - 110px);
  padding: 0px 170px;
  transition: padding 0.5s ease-in-out;
}
@media (max-width: 1525px) {
  .FaqsPage__mainContainer {
    padding: 0 130px;
  }
}
@media (max-width: 1335px) {
  .FaqsPage__mainContainer {
    padding: 0 90px;
  }
}
@media (max-width: 1135px) {
  .FaqsPage__mainContainer {
    padding: 0 40px;
  }
}
@media (max-width: 470px) {
  .FaqsPage__mainContainer {
    padding: 0 0;
  }
}
.FaqsPage .mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 40px;
}
.FaqsPage .mainSection__top {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 11px;
}
@media (max-width: 1135px) {
  .FaqsPage .mainSection__top {
    padding: 0 0;
  }
}
@media (max-width: 1095px) {
  .FaqsPage .mainSection__top {
    gap: 20px;
  }
}
.FaqsPage .mainSection__title h1 {
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 67px;
  font-weight: 500;
  line-height: 82px;
  color: var(--primaryTextColor);
  transition: font-size 0.5s ease-in-out;
}
@media (max-width: 1400px) {
  .FaqsPage .mainSection__title h1 {
    font-size: 60px;
  }
}
@media (max-width: 1200px) {
  .FaqsPage .mainSection__title h1 {
    font-size: 50px;
  }
}
@media (max-width: 505px) {
  .FaqsPage .mainSection__title h1 {
    font-size: 9vw;
    line-height: 60px;
  }
}
.FaqsPage .mainSection__desc {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  width: 60%;
  height: auto;
  text-align: center;
}
@media (max-width: 670px) {
  .FaqsPage .mainSection__desc {
    width: 100%;
    height: auto;
  }
}
.FaqsPage .mainSection__bottom {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media (max-width: 1135px) {
  .FaqsPage .mainSection__bottom {
    padding: 0 0;
  }
}
@media (max-width: 1095px) {
  .FaqsPage .mainSection__bottom {
    flex-direction: column;
    gap: 20px;
  }
}
.FaqsPage .mainSection__bottom--left, .FaqsPage .mainSection__bottom--right {
  width: 50%;
  height: 100%;
}
.FaqsPage .mainSection__categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 85px;
}
.FaqsPage .mainSection__categoryName {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  font-size: 19px;
  font-weight: 500;
  opacity: 40%;
}
.FaqsPage .mainSection__categoryName:hover {
  opacity: 100%;
}
.FaqsPage .mainSection__categoryName--active {
  opacity: 100%;
}
.FaqsPage .mainSection__questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FaqsPage .mainSection__questionBox {
  width: 830px;
}
.FaqsPage .mainSection__question {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 167.5%;
  color: #000000;
  background-color: transparent;
  border: none;
  text-align: left;
}
.FaqsPage .mainSection__questionExpanded {
  width: 24px;
  height: 24px;
  padding: 0px;
  border-radius: 30px;
  background-color: #308CF8;
  color: #ffffff;
  position: relative;
}
.FaqsPage .mainSection__questionExpanded p {
  position: absolute;
  top: -3px;
  left: 5px;
  transition: transform 2s ease-in-out;
}
.FaqsPage .mainSection__questionExpanded--active {
  background: #F83030;
}
.FaqsPage .mainSection__questionExpanded--active p {
  transform: rotate(-45deg);
}
.FaqsPage .mainSection__answer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 167.5%;
  color: #363B53;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.FaqsPage .mainSection__answer--active {
  max-height: min-content;
  padding-bottom: 30px;
}
.FaqsPage .mainSection__borderLine {
  height: 3px;
  opacity: 0.1;
  background-color: #363B53;
}

/*# sourceMappingURL=Faqs.css.map */
