.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}
.LandingPage__mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  max-width: 1585px;
  min-height: calc(100% - 110px);
  padding: 0px 170px;
  transition: padding 0.5s ease-in-out;
}
@media (max-width: 1525px) {
  .LandingPage__mainContainer {
    padding: 0 130px;
  }
}
@media (max-width: 1335px) {
  .LandingPage__mainContainer {
    padding: 0 90px;
  }
}
@media (max-width: 1135px) {
  .LandingPage__mainContainer {
    padding: 0 40px;
  }
}
@media (max-width: 470px) {
  .LandingPage__mainContainer {
    padding: 0 0;
  }
}
.LandingPage .heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 40px;
  gap: 65px;
}
.LandingPage .heroSection__top {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
@media (max-width: 1135px) {
  .LandingPage .heroSection__top {
    padding: 0 0;
  }
}
@media (max-width: 1095px) {
  .LandingPage .heroSection__top {
    flex-direction: column;
    gap: 20px;
  }
}
.LandingPage .heroSection__top--left, .LandingPage .heroSection__top--right {
  width: 50%;
  height: 100%;
}
@media (max-width: 1095px) {
  .LandingPage .heroSection__top--left, .LandingPage .heroSection__top--right {
    padding-top: 0;
    align-items: center;
  }
}
@media (max-width: 935px) {
  .LandingPage .heroSection__top--left, .LandingPage .heroSection__top--right {
    width: 80%;
    height: 100%;
  }
}
@media (max-width: 670px) {
  .LandingPage .heroSection__top--left, .LandingPage .heroSection__top--right {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 470px) {
  .LandingPage .heroSection__top--left, .LandingPage .heroSection__top--right {
    padding: 0 30px;
  }
}
.LandingPage .heroSection__top--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  position: relative;
}
.LandingPage .heroSection__top--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 115px;
  gap: 30px;
}
@media (max-width: 1095px) {
  .LandingPage .heroSection__top--right {
    padding-top: 0;
  }
}
.LandingPage .heroSection__title h1 {
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 67px;
  font-weight: 500;
  line-height: 82px;
  color: var(--primaryTextColor);
  transition: font-size 0.5s ease-in-out;
}
@media (max-width: 1400px) {
  .LandingPage .heroSection__title h1 {
    font-size: 60px;
  }
}
@media (max-width: 1200px) {
  .LandingPage .heroSection__title h1 {
    font-size: 50px;
  }
}
@media (max-width: 505px) {
  .LandingPage .heroSection__title h1 {
    font-size: 9vw;
    line-height: 60px;
  }
}
.LandingPage .heroSection__desc {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  width: 90%;
  height: auto;
}
@media (max-width: 670px) {
  .LandingPage .heroSection__desc {
    width: 100%;
    height: auto;
  }
}
.LandingPage .heroSection__callToAction {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.LandingPage .heroSection__bottom {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 935px) {
  .LandingPage .heroSection__bottom {
    width: 80%;
    height: 100%;
  }
}
@media (max-width: 670px) {
  .LandingPage .heroSection__bottom {
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
}
@media (max-width: 470px) {
  .LandingPage .heroSection__bottom {
    padding: 0 30px;
  }
}
.LandingPage .heroSection__arrow {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
}
@media (max-width: 1095px) {
  .LandingPage .heroSection__arrow {
    display: none;
  }
}
.LandingPage .heroSection__funFact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: auto;
}
.LandingPage .heroSection__funFact span,
.LandingPage .heroSection__funFact p {
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
}
.LandingPage .heroSection__funFact span {
  color: var(--primaryTextColor);
}
.LandingPage .heroSection__funFact p {
  color: var(--pink);
}
@media (max-width: 1095px) {
  .LandingPage .heroSection__funFact {
    width: 100%;
    height: auto;
  }
}
.LandingPage .heroSection__stats {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.LandingPage .heroSection__stats--title, .LandingPage .heroSection__stats--stat {
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
  white-space: nowrap;
}
.LandingPage .heroSection__stats--title {
  color: var(--blue);
}
.LandingPage .heroSection__stats--stat {
  color: var(--primaryTextColor);
  font-size: 50px;
}
@media (max-width: 935px) {
  .LandingPage .heroSection__stats--stat {
    font-size: 35px;
  }
}
@media (max-width: 670px) {
  .LandingPage .heroSection__stats--stat {
    font-size: 30px;
  }
}
@media (max-width: 1095px) {
  .LandingPage .heroSection {
    gap: 80px;
  }
}

/*# sourceMappingURL=LandingPage.css.map */
