@import "../../styles/root/mixins";

.LandingPage {
  @include make-flex($just: flex-start);
  min-height: 100vh;

  &__mainContainer {
    // @include box();
    // height: auto;
    width: 100%;
    @include make-flex($just: flex-start);
    gap: 50px;
    max-width: 1585px;
    min-height: calc(100% - 110px);
    padding: 0px 170px 60px;
    transition: padding 0.5s ease-in-out, filter 0.5s;

    @include respondAt(1525px) {
      padding: 0 130px 50px;
    }
    @include respondAt(1335px) {
      padding: 0 90px 50px;
    }
    @include respondAt(1135px) {
      padding: 0 40px;
    }
    @include respondAt(470px) {
      padding: 0 0;
    }
  }

  .heroSection {
    // @include box($height: calc(100vh - 200px));
    @include make-flex($just: flex-start);
    // max-height: 720px;
    @include respondAtAlt(780px) {
      padding-bottom: 40px;
      margin-bottom: 350px;
    }
    gap: 65px;

    &__top {
      @include box($height: 75%);
      @include make-flex($dir: row);
      padding: 50px 0;

      @include respondAt(1135px) {
        padding: 0 0;
      }

      @include respondAt(1095px) {
        flex-direction: column;
        gap: 20px;
      }

      &--left,
      &--right {
        @include box(50%);
        @include respondAt(1095px) {
          padding-top: 0;
          align-items: center;
        }

        @include respondAt(935px) {
          @include box(80%);
        }

        @include respondAt(670px) {
          @include box();
        }

        @include respondAt(470px) {
          padding: 0 30px;
        }
      }

      &--left {
        @include make-flex($align: flex-start);
        gap: 30px;
        position: relative;
      }
      &--right {
        @include make-flex($align: flex-end, $just: flex-start);
        // padding-top: 115px;
        gap: 30px;

        @include respondAt(1095px) {
          padding-top: 0;
        }
      }
    }

    &__title {
      h1 {
        @include box(100%, auto);
        font-family: "Poppins", sans-serif;
        font-size: 67px;
        font-weight: 500;
        line-height: 82px;
        color: var(--primaryTextColor);
        transition: font-size 0.5s ease-in-out;

        @include respondAt(1400px) {
          font-size: 60px;
        }
        @include respondAt(1200px) {
          font-size: 50px;
        }

        @include respondAt(505px) {
          font-size: 9vw;
          line-height: 60px;
        }
      }
    }

    &__desc {
      font-family: "Poppins", sans-serif;
      color: var(--primaryTextColor);
      line-height: 30px;
      @include box(90%, auto);

      @include respondAt(670px) {
        @include box(100%, auto);
      }
    }

    &__callToAction {
      @include box(100%, auto);
      @include make-flex($just: flex-start, $dir: row);
      gap: 25px;
    }

    &__bottom {
      @include box($height: 25%);
      @include make-flex($dir: row, $just: space-between);

      @include respondAt(935px) {
        @include box(80%);
      }

      @include respondAt(670px) {
        @include box();
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
      }
      @include respondAt(470px) {
        padding: 0 30px;
      }
    }

    &__arrow {
      @include box(50%, auto);
      @include make-flex($just: flex-end);
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%);
      // color: var(--blue);
      fill: var(--blue);

      @include respondAt(1095px) {
        display: none;
      }
    }

    &__funFact {
      @include make-flex($dir: row, $just: flex-start);
      @include box(80%, auto);
      span,
      p {
        font-weight: 600;
        font-family: "Space Grotesk", sans-serif;
      }
      span {
        color: var(--primaryTextColor);
      }
      p {
        color: var(--pink);
      }

      @include respondAt(1095px) {
        @include box(100%, auto);
      }
    }

    &__instagramDiv {
      @include make-flex($just: flex-start, $align: flex-start);
      @include box(80%, 15px);
      margin-bottom: 20px;
      @include respondAt(1095px) {
        @include box(100%, 15px);
      }
      &--instaHandle {
        @include box();
        padding-top: 5%;
        @include make-flex($dir: row, $just: flex-start);
        flex-basis: baseline;
        @include respondAt(1095px) {
          padding-top: 0;
          height: 30px;
        }
        a {
          padding-top: 5.5%;
          font-family: "Poppins";
          font-style: normal;
          text-decoration: none;
          color: var(--blue);
          font-weight: 450;
          font-size: 20px;
          margin-right: 15px;
          @include respondAt(1095px) {
            padding-top: 7.5%;
          }
        }
        &--instaLogo {
          display: inline;
          width: 21px;
          vertical-align: middle;
          margin-right: 10px;
          filter: var(--svgfilter);
        }
      }
      &--text {
        display: inline;
        font-family: "Poppins", sans-serif;
        color: var(--primaryTextColor);
      }
      &--blueArrow {
        @include respondAt(1095px) {
          padding-top: 2.5%;
        }

        filter: var(--svgfilter);
      }
    }

    &__stats {
      @include box(auto, auto);
      @include make-flex();
      gap: 15px;
      &--title,
      &--stat {
        font-weight: 600;
        font-family: "Space Grotesk", sans-serif;
        white-space: nowrap;
      }

      &--title {
        color: var(--blue);
      }

      &--stat {
        color: var(--primaryTextColor);
        font-size: 50px;

        @include respondAt(935px) {
          font-size: 35px;
        }

        @include respondAt(670px) {
          font-size: 30px;
        }
      }
    }

    @include respondAt(1095px) {
      gap: 80px;
    }
  }

  .aboutSection {
    @include box();
    &__PlaceHolder {
      height: 300px;
      width: 400px;
      background: red;
    }

    .stickyLabel {
      position: sticky;
      top: 0;
    }

    &__View1 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
    &__View2 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
    &__View3 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
  }
}
