@import "../../styles/root/mixins";

.LandingPage {
  @include make-flex($just: flex-start);
  min-height: 100vh;

  &__mainContainer {
    // @include box();
    // height: auto;
    width: 100%;
    // @include make-flex($just: flex-start, $align: flex-start);
    @include make-flex($just: flex-start);
    padding: 0px !important;
    gap: 50px;
    // max-width: 1585px;

    min-height: calc(100% - 110px);

    // background-color: aqua;

    // padding: 0px 170px 0px;
    // padding: 0px 0px 0px 130px;

    transition: padding 0.5s ease-in-out, filter 0.5s;

    // @include respondAt(1525px) {
    //   padding: 0 130px 0px;
    // }
    // @include respondAt(1335px) {
    //   padding: 0 90px 0px;
    // }
    // @include respondAt(1135px) {
    //   padding: 0 40px;
    // }
    // @include respondAt(470px) {
    //   padding: 0 0;
    // }
  }

  .heroSection {
    // @include box($height: calc(100vh - 200px));
    @include make-flex($just: flex-start);
    // max-height: 720px;

    gap: 65px;
    padding: 0px 0px 0px 130px;

    &__top {
      // @include box($height: 75%);
      @include box($height: 100%);
      @include make-flex($dir: row, $align: flex-start, $just: flex-start);
      // padding: 50px 0;

      @include respondAt(1135px) {
        padding: 0 0;
      }

      @include respondAt(1095px) {
        flex-direction: column;
        gap: 20px;
      }

      &--left,
      &--right {
        @include box(50%);
        @include respondAt(1095px) {
          padding-top: 0;
          align-items: center;
        }

        @include respondAt(935px) {
          @include box(80%);
        }

        @include respondAt(670px) {
          @include box();
        }

        @include respondAt(470px) {
          padding: 0 30px;
        }

        @include respondAt(335px) {
          padding: 15px;
        }
      }

      &--left {
        @include make-flex($align: flex-start, $just: flex-start);
        gap: 20px;
        // margin-top: -30px;
        position: relative;
      }
      &--right {
        @include make-flex($align: flex-end, $just: flex-start);
        // padding-top: 115px;
        position: absolute;
        top: 20px;
        right: 20px;
        gap: 15px;

        @include respondAt(1095px) {
          padding-top: 0;
        }
      }
    }

    &__title {
      &--highlight {
        // padding: 0px 5px 0px 5px;
        // color: var(--highlightTextColor);
        // background-color: var(--titleHighlight);

        background: var(--gradient, linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // font-family: ;
        // font-size: 79.633px;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 116.45%;
      }

      &--unhighlight {
        color: var(--unhighlightTextColor);
      }

      h1 {
        margin: 5px 0 0px 0;

        @include box(100%, auto);
        font-family: "Poppins", sans-serif;
        // font-size: 72px;
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 116.45%;
        // line-height: 75px;
        color: var(--textColor);
        transition: font-size 0.5s ease-in-out;

        @include respondAt(1400px) {
          font-size: 60px;
        }
        @include respondAt(1200px) {
          font-size: 50px;
        }

        @include respondAt(505px) {
          font-size: 9vw;
          line-height: 60px;
        }
      }
    }

    &__desc {
      font-family: "Poppins", sans-serif;
      color: var(--primaryTextColor);
      color: #000;
      font-weight: 400;
      line-height: 167.5%;
      margin-bottom: 15px;
      // font-size: 20px;
      font-size: 1.1rem;
      @include box(90%, auto);

      @include respondAt(670px) {
        @include box(100%, auto);
      }
    }

    &__buttons {
      @include make-flex($dir: row, $align: flex-start);
      gap: 30px;

      &--button {
        padding: 27.914px 11.206px !important;
        width: 170px;
        border-radius: 11.963px;
        color: var(--white);
        text-align: center;
        font-family: PowerGroteskTrial;
        font-size: 19.5px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &--navigateButton {
        border: 1.994px solid var(--light-smoke, #3E3E3E);
        background: var(--dark-smoke, #181818);
      }

      &--snugpt {
          background: var(--gradient, linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%));
          font-size: 15.638px;
          border: none;
      }
    }

    &__users {
      @include make-flex($dir: row, $just: flex-start);
      width: 100%;
      gap: 70px;
      &--left {
        @include box($width: fit-content);
        @include make-flex($dir: column);
      }

      &--right {
        // @include box(75%);
        @include make-flex($dir: row, $align: flex-start, $just: space-between);
        gap: -20px;
        // width: 435px;
        // height: 100px;
        padding: 7px 10px 6px 10px;
        // @include box($width: fit-content);
        border-radius: 65px;
        background: linear-gradient(135deg, rgba(111, 0, 255, 0.20) 0%, rgba(73, 44, 255, 0.20) 47.81%, rgba(0, 163, 255, 0.20) 100%);
      }

      &--userImageArrowImg {
        max-width: 60px;
      }

      &--userImage {
        max-width: 60%;
      }
    }

    &__usersData {
      &--count {
        color: #000;
        font-family: NohemiBold;
        // font-size: 62.5px;
        font-size: 3rem;
        // font-style: normal;
        // font-weight: 700;
        // line-height: normal;
      }

      &--text {
        max-width: 120px;
        margin-top: -15px;
        color: var(--light-smoke, #3E3E3E);
        // font-family: AcidGroteskRegular;
        // font-size: 17.829px;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 122.45%; /* 24.28px */
      }
    }

    // &__callToAction {
    //   @include box(55%, auto);
    //   @include make-flex($just: flex-start, $dir: row);
    //   gap: 25px;
    // }

    &__bottom {
      @include box($height: 25%);
      @include make-flex($dir: row, $just: space-between);

      @include respondAt(935px) {
        @include box(80%);
      }

      @include respondAt(670px) {
        @include box();
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
      }
      @include respondAt(470px) {
        padding: 0 30px;
      }
    }

    &__arrow {
      @include box(45%, auto);
      @include make-flex($just: flex-end);
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%);
      // color: var(--blue);
      filter: var(--arrowSvgFilter);

      @include respondAt(1095px) {
        display: none;
      }
    }

    &__funFact {
      @include make-flex($dir: row, $just: flex-start);
      @include box(78%, auto);
      flex-wrap: wrap;
      span,
      p {
        font-weight: 600;
        font-size: 14px;
        font-family: "Space Grotesk", sans-serif;
      }
      span {
        color: var(--primaryTextColor);
      }
      p {
        color: var(--pink);
      }

      @include respondAt(1095px) {
        @include box(100%, auto);
      }
    }

    &__instagramDiv {
      @include make-flex($just: flex-start, $align: flex-start);
      @include box(80%, 15px);
      margin-bottom: 10px;
      color: var(--textColor);
      @include respondAt(1095px) {
        @include box(100%, 15px);
      }
      &--instaHandle {
        @include box();
        padding-top: 0%;
        @include make-flex($dir: row, $just: flex-start);
        flex-basis: baseline;
        @include respondAt(1095px) {
          padding-top: 0;
          height: 30px;
        }
        a {
          padding-top: 4%;
          font-family: "Poppins";
          font-style: normal;
          text-decoration: none;
          color: var(--blue);
          font-weight: 450;
          font-size: 16px;
          margin-right: 15px;
          @include respondAt(1095px) {
            padding-top: 7.5%;
          }
          @include respondAt(1070px) {
            padding-top: 1.5%;
          }
        }
        &--instaLogo {
          display: inline;
          width: 17px;
          vertical-align: middle;
          margin-right: 10px;
          filter: var(--svgfilter);
        }
      }
      &--text {
        margin-top: 10px;
        display: inline;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        color: var(--primaryTextColor);
      }
    }

    &__stats {
      @include box(auto, auto);
      @include make-flex();
      gap: 15px;
      &--title,
      &--stat {
        font-weight: 600;
        font-family: "Space Grotesk", sans-serif;
        white-space: nowrap;
      }

      &--title {
        font-weight: 700;
        color: var(--blue);
        font-size: 15px;
      }

      &--stat {
        color: var(--textColor);
        font-size: 45px;

        @include respondAt(935px) {
          font-size: 35px;
        }

        @include respondAt(670px) {
          font-size: 30px;
        }
      }
    }

    @include respondAt(1095px) {
      gap: 80px;
      width: 100%;
    }
    @include respondAtAlt(780px) {
      padding-bottom: 40px;
      margin-bottom: 350px;
    }
    @include respondAt(335px) {
      gap: 115px;
    }
  }

  .inquiryFeedbackSection {
    padding-block: 150px !important;
    background: #000000;
    position: relative;
    width: 100%;
    @include make-flex($dir: row, $just: flex-start);

    &__left, &__right {
      @include box(50%)
    }

    &__left {
      @include make-flex($align: flex-start);
      padding-left: 130px;
      gap: 30px;
      &--heading {
        color: var(--light-grey, #D2D2D2);
        font-family: AcidGroteskRegular;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 116.45%; /* 92.733px */
      }
    }

    &__right {
      @include make-flex($dir: row, $just: flex-end);
      position: absolute;
      right: 0px;
      overflow-x: hidden;
      &--img {
        height: 100%;
      }
    }

    &__buttons {
      @include make-flex($dir: row, $align: flex-start);
      gap: 15.951px;

      &--button {
        padding: 27.914px 11.206px !important;
        width: 170px;
        border-radius: 11.963px;
        color: var(--white);
        text-align: center;
        font-family: PowerGroteskTrial;
        font-size: 17.5px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &--getInTouchButton {
        color: var(--white, #FFF);
        border-radius: 11.963px;
        border: 1.994px solid var(--light-smoke, #3E3E3E);
        background: var(--dark-smoke, #181818);
      }

      &--getInTouchWithEmojiButton {
        border-radius: 14px;
        border: none;
        background: rgba(255, 255, 255, 0.60);
        color: var(--black, #000);
        font-family: AcidGroteskRegular;
        font-size: 17.421px;
        font-style: normal;
        font-weight: 400;
        line-height: 146.95%; /* 40.295px */
      }

      &--instagramButton {
        border: none;
        border-radius: 11.491px;
        background: var(--gradient, linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%));
      }
    }
  }

  .aboutSection {
    @include box();
    &__PlaceHolder {
      height: 300px;
      width: 400px;
      background: red;
    }

    .stickyLabel {
      position: sticky;
      top: 0;
    }

    &__View1 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
    &__View2 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
    &__View3 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
  }
}