@import "../root/mixins";

.LoginPage {
  font-family: "poppins";
  @include box($height: 100vh);
  @include make-flex();

  &__container {
    @include make-flex($dir: row);
    @include box(800px, 455px);

    @include respondAt(807px) {
      flex-direction: column;
      height: 670px;
      width: 100%;
    }
    @include respondAt(480px) {
      height: 100%;
    }

    &--left {
      @include make-flex();
      @include box(50%);
      background-color: #13111f;
      border-radius: 20px 0 0 20px;
      gap: 15px;

      @include respondAt(807px) {
        border-radius: 20px 20px 0 0;
        width: 455px;
      }
      @include respondAt(480px) {
        width: 100%;
        height: 100%;
      }
      h1 {
        font-weight: 600;
        width: 75%;
        @include make-flex($align: flex-start);
        font-size: 45px;
        color: white;
        span {
          color: #308cf8;
        }
        @include respondAt(400px) {
          width: 90%;
        }
      }
      p {
        width: 75%;
        color: rgba(255, 255, 255, 0.726);
        font-size: 12px;
        line-height: 167.5%;
        font-weight: 400;
        @include respondAt(400px) {
          width: 90%;
        }
      }
    }
    &--right {
      @include make-flex();
      @include box(50%);
      background-color: #ffffff;
      border-radius: 0 20px 20px 0;
      border-top: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      gap: 15px;

      @include respondAt(807px) {
        width: 455px;
        border-radius: 0 0 20px 20px;
      }
      @include respondAt(480px) {
        height: 100%;
        width: 100%;
      }
      h1 {
        width: 75%;
        font-weight: 600;
        font-size: 45px;
        color: rgb(43, 43, 43);
        @include respondAt(400px) {
          width: 90%;
        }
      }
      p {
        width: 75%;
        font-size: 12px;
        line-height: 167.5%;
        color: rgb(43, 43, 43);
        @include respondAt(400px) {
          width: 90%;
        }
      }

      form {
        @include box(75%, 23%);
        @include make-flex($align: flex-start);
      }
    }
    &--button {
      @include box(70%, 45px);
      transition: all 0.3s;
      @include make-flex($dir: row, $align: center);
      border-radius: 6px;
      background-color: #ffffff;
      border: 2px solid #e6e6e6;
      padding: 10px;
      gap: 10px;
      font-weight: 600;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        background: #2e2c37;
        color: #ffffff;
      }

      img {
        height: 100%;
      }
    }
  }
}
