@import "../root/mixins";

.LoginPage {
  position: relative;
  &__content {
    @include make-flex($align: center, $dir: row);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    background: white;
    width: 950px;
    height: 450px;

    &__left {
    }
  }
}
