.FaqRedirect {
  background-color: var(--blue);
  width: auto;
  height: 38.75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: padding, font-size 0.5s ease-in-out;
}
@media (max-width: 885px) {
  .FaqRedirect {
    flex-direction: column;
    padding: 40px 0;
    height: 415px;
    gap: 30px;
    width: 100vw;
  }
}
@media (max-width: 595px) {
  .FaqRedirect {
    padding: 35px;
    gap: 0;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .FaqRedirect {
    height: 16vh;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 3000px) and (max-width: 4000px) {
  .FaqRedirect {
    height: 14vh;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 4000px) and (max-width: 5000px) {
  .FaqRedirect {
    height: 12vh;
    justify-content: space-between;
  }
}
.FaqRedirect__left {
  padding: 0 45px 0;
}
@media only screen and (min-width: 3000px) and (max-width: 4000px) {
  .FaqRedirect__left {
    padding: 0;
    margin: 0;
  }
}
.FaqRedirect__left, .FaqRedirect__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 3000px) and (max-width: 4000px) {
  .FaqRedirect__left, .FaqRedirect__right {
    padding: 2%;
    width: 37.7%;
    margin-left: 1.5vw;
  }
}
@media only screen and (min-width: 4000px) and (max-width: 6000px) {
  .FaqRedirect__left, .FaqRedirect__right {
    width: 40.7%;
    margin-left: 0.5vw;
  }
}
@media (max-width: 1060px) {
  .FaqRedirect__left, .FaqRedirect__right {
    padding: 0 30px;
    align-items: flex-start;
  }
}
@media (max-width: 885px) {
  .FaqRedirect__left, .FaqRedirect__right {
    width: 85%;
  }
}
@media (max-width: 595px) {
  .FaqRedirect__left, .FaqRedirect__right {
    padding: 0;
    width: 100%;
  }
}
.FaqRedirect__right {
  align-items: flex-end;
}
.FaqRedirect__right--container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}
@media (max-width: 885px) {
  .FaqRedirect__right--container {
    width: 100%;
  }
}
@media only screen and (min-width: 3000px) and (max-width: 4000px) {
  .FaqRedirect__right--container {
    align-items: center;
    margin-right: 2.6vw;
  }
}
.FaqRedirect__title--white, .FaqRedirect__title--primaryTextColor {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 72px;
  font-size: 65px;
  width: 77%;
}
@media (max-width: 1060px) {
  .FaqRedirect__title--white, .FaqRedirect__title--primaryTextColor {
    width: 90%;
  }
}
@media (max-width: 885px) {
  .FaqRedirect__title--white, .FaqRedirect__title--primaryTextColor {
    width: 100%;
  }
}
@media (max-width: 525px) {
  .FaqRedirect__title--white, .FaqRedirect__title--primaryTextColor {
    font-size: 50px;
  }
}
.FaqRedirect__title--white {
  color: var(--white);
}
.FaqRedirect__title--primaryTextColor {
  color: var(--questions);
}
.FaqRedirect--desc {
  font-family: "Poppins", sans-serif;
  width: 87%;
  line-height: 167.5%;
  color: var(--secondaryTextColor);
}
@media (max-width: 885px) {
  .FaqRedirect--desc {
    width: 100%;
  }
}
.FaqRedirect--button {
  color: white;
}

/*# sourceMappingURL=StillGotQuestions.css.map */
