@import "../../styles/root/mixins";

.FaqRedirect {
  background-color: #61abfe;
  @include box($height: 310px);
  @include make-flex($dir: row);

  &__left,
  &__right {
    @include box(50%);
    @include make-flex();
  }

  &__left {
    padding: 0 45px 0;
  }

  &__right {
    align-items: flex-end;
    &--container {
      @include box(85%);
      @include make-flex($align: flex-start);
      gap: 25px;
    }
  }

  &__title {
    &--white,
    &--black {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      line-height: 72px;
      font-size: 65px;
      width: 77%;
    }
    &--white {
      color: var(--white);
    }
    &--black {
      color: var(--black);
    }
  }

  &--desc {
    font-family: "Poppins", sans-serif;
    width: 87%;

    color: var(--secondaryTextColor);
  }
}
