@import "../../styles/root/mixins";

.FaqRedirect {
  background-color: #61abfe;
  @include box($width: 100vw, $height: 38.75vh);
  @include make-flex($dir: row);

  transition: padding, font-size 0.5s ease-in-out;

  @include respondAt(885px) {
    flex-direction: column;
    padding: 40px 0;
    height: 415px;
    gap: 30px;
    width: 100vw;
  }

  @include respondAt(595px) {
    padding: 35px;
    gap: 0;
  }

  &__left {
    padding: 0 45px 0;
  }

  &__left,
  &__right {
    @include box(50%);
    @include make-flex();

    @include respondAt(1060px) {
      padding: 0 30px;
      align-items: flex-start;
    }

    @include respondAt(885px) {
      width: 85%;
    }

    @include respondAt(595px) {
      padding: 0;
      width: 100%;
    }
  }

  &__right {
    align-items: flex-end;
    &--container {
      @include box(85%);
      @include make-flex($align: flex-start);
      gap: 25px;

      @include respondAt(885px) {
        width: 100%;
      }
    }
  }

  &__title {
    &--white,
    &--black {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      line-height: 72px;
      font-size: 65px;
      width: 77%;

      @include respondAt(1060px) {
        width: 90%;
      }
      @include respondAt(885px) {
        width: 100%;
      }
      @include respondAt(525px) {
        font-size: 50px;
      }
    }
    &--white {
      color: var(--white);
    }
    &--black {
      color: var(--black);
    }
  }

  &--desc {
    font-family: "Poppins", sans-serif;
    width: 87%;

    color: var(--secondaryTextColor);
    @include respondAt(885px) {
      width: 100%;
    }
  }
}
