@import "../../styles/root/mixins";

.NavbarWrapper {
    position: fixed;
    @include box($width: fit-content,$height: absolute);
    @include make-flex($dir: row, $just: center);
    border-radius: 12px;
    background: var(--thin-smoke, #4D4D4D);
    padding: 6px 8px;
    box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25);
    // width: 100%;
    bottom: 20px;
    z-index: 100;
    gap: 10px;
    //margin-left: 20px;
    //left:10px;
    //right:20px;
    // @include box(100%);

    &__left {
        @include box($width: fit-content);
        border-radius: 12px;
        background: var(--dark-smoke, #181818);
        padding: 22px 25px;
        gap: 10px;
    }

    &__right {
        @include box($width: fit-content);
    }

    &__items {
        @include make-flex($dir: row);
        border-radius: 12px;
        background: var(--light-smoke, #3E3E3E);
        padding: 7px 6px;
        gap: 10px;
        &--item {
            padding: 15px 27px;
            text-decoration: none;
            gap: 10px;
            color: var(--off-white, #E3E3E3);
            font-family: PowerGroteskTrial;
            font-size: 12.5px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 12px;
            border: 1px solid var(--white-opacity-10, rgba(255, 255, 255, 0.10));
        }
    }

    &__dropdown {
        // @include make-flex($dir: row);
        &--logo {
            min-width: 55px;
            max-width: 55px;
        }
    }
    
    @include respondAt(575px) {
        // width: 100%;
        padding: 5px;
        gap: 10px;
        justify-content: flex-start;
        // width: 100%;
        width: 98%;
        //margin-left: 10px;

        &__right {
            // width: 80%; 
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }

            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

        }

        &__items {
            // width: 100%;
            width: fit-content;
            justify-content: flex-start;
            // overflow-x: scroll;

            padding: 5px;
            font-size: 10px;
            gap: 5px;
            // overflow-x: scroll;
            &--item {
                font-size: 10px;
                padding: 12px 20px;

                text-align: center;
                width: 100px;
                padding: 13px 5px;
            }
            &--GPT, &--Contact {
                display: none;
            }
        }
        &__left {
            padding: 17px 20px;
        }
        &__dropdown {
            &--logo {
                width: 50px;
                // width: 70px;
                // min-width: 70px;
                min-width: 50px;
            }
        }

    }

    // width: 100%;
}