@import "../../root/mixins";
html {
  height: unset !important;
}
.AboutUsPage {
  @include make-flex($just: flex-start);
  min-height: 100vh;

  &__mainContainer {
    @include make-flex($just: flex-start);
    width: 100%;
    gap: 135px;
    max-width: 1585px;
    min-height: calc(100% - 110px);
    padding: 0px 170px 0px;
    transition: padding 0.5s ease-in-out, filter 0.5s;

    @include respondAt(1525px) {
      padding: 0 130px 0px;
    }
    @include respondAt(1335px) {
      padding: 0 90px 0px;
    }
    @include respondAt(1135px) {
      padding: 0 40px;
    }
    @include respondAt(470px) {
      padding: 0 20px;
      gap: 70px;
    }
  }
  &__hero {
    @include box($height: 250px);
    @include make-flex();
    gap: 35px;

    &--title {
      font-family: "Poppins", sans-serif;
      font-size: 80px;
      font-weight: 500;
      color: var(--primaryTextColor);

      span {
        font-weight: 600;
        background-color: var(--lightBlue);
        padding: 0 15px;
      }
    }
    &--desc {
      width: 60%;
      @include make-flex();
      text-align: center;
      color: var(--primaryTextColor);
    }
  }

  &__mission {
    @include make-flex($dir: row, $just: space-between);
    @include box($height: 315px);

    &--left {
      @include box(50%);
      @include make-flex();
      img {
        height: 100%;
        border-radius: 7px;
      }

      @include respondAt(1000px) {
        height: auto;
        min-width: 315px;
      }
    }
    &--right {
      @include box(45%);
      @include make-flex($align: flex-start);
      gap: 30px;

      @include respondAt(905px) {
        width: 50%;
        gap: 20px;
      }
      @include respondAt(700px) {
        width: 80%;
      }
      @include respondAt(500px) {
        width: 100%;
      }
    }
    &--title {
      font-family: "Poppins", sans-serif;
      font-size: 45px;
      font-weight: 500;
      color: var(--primaryTextColor);

      span {
        font-weight: 600;
        background-color: var(--lightBlue);
        padding: 0 15px;
      }
    }
    &--desc {
      width: 80%;
      line-height: 2;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: var(--primaryTextColor);

      @include respondAt(1020px) {
        width: 100%;
      }
    }

    @include respondAt(905px) {
      flex-direction: column;
      height: auto;
      gap: 20px;
    }
  }

  &__story {
    @include make-flex($dir: row, $just: space-between);
    @include box($height: 315px);

    @include respondAt(1000px) {
      height: auto;
      min-width: 315px;
    }

    &--right {
      @include box(50%);
      @include make-flex();
      img {
        height: 100%;
        border-radius: 7px;
      }
      @include respondAt(1000px) {
        height: auto;
        min-width: 315px;
      }
    }

    &--left {
      @include box(45%);
      @include make-flex($align: flex-start);
      gap: 30px;
      padding-left: 65px;

      @include respondAt(1050px) {
        padding-left: 0;
      }
      @include respondAt(905px) {
        width: 50%;
        gap: 20px;
      }
      @include respondAt(700px) {
        width: 80%;
      }
      @include respondAt(500px) {
        width: 100%;
      }
    }

    &--title {
      font-family: "Poppins", sans-serif;
      font-size: 45px;
      font-weight: 500;
      color: var(--primaryTextColor);

      span {
        font-weight: 600;
        background-color: var(--lightBlue);
        padding: 0 15px;
      }
    }
    &--desc {
      width: 90%;
      line-height: 2;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: var(--primaryTextColor);

      @include respondAt(1020px) {
        width: 100%;
      }
    }

    @include respondAt(905px) {
      flex-direction: column-reverse;
      height: auto;
      gap: 20px;
    }
  }

  &__team {
    @include make-flex();
    @include box();
    gap: 15px;

    &--title {
      font-family: "Poppins", sans-serif;
      font-size: 52px;
      font-weight: 500;
      color: var(--primaryTextColor);
      width: 100%;
      text-align: center;
    }
    &--subTitle {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: var(--primaryTextColor);
      width: 100%;
      text-align: center;
    }
    &--middle {
      margin-top: 20px;
      width: 100%;
      @include make-flex($dir: row, $just: space-between);
      gap: 30px;

      @include respondAt(780px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &--link {
      font-family: "Poppins", sans-serif;
      @include make-flex();
      font-size: 20px;
      padding: 0 15px;
      white-space: nowrap;
      font-weight: 400;
      color: var(--primaryTextColor);
      width: 100%;
      height: 45px;
      border-style: none;
      border-radius: 7px;
      background-color: var(--blue);
      text-decoration: none;
      max-width: 235px;
      text-align: center;
    }

    &--members {
      width: 100%;
      height: auto;
      @include make-flex($dir: row, $just: space-evenly);
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 35px;
      margin-top: 20px;
      margin-bottom: 60px;
    }

    &--memberCard {
      width: 270px;
      height: 434px;
      @include make-flex();
      gap: 15px;
      &__imageBox {
        height: 350px;
        width: 100%;
        position: relative;
      }
      &__image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: var(--white);
      }

      &__name {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: var(--primaryTextColor);
      }
      &__title {
        width: 100%;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        opacity: 0.8;
        color: var(--primaryTextColor);
      }
    }
  }
}
