@import "../../styles/root/mixins";
@import "../../styles/root/theme/light.scss";

.MobileContainer {
  @include respondAtAlt(780px) {
    display: none;
  }

  margin-left: auto;
  margin-right: auto;
  max-width: 500px;

  &__scrollerContainer {
    @include make-flex($dir: row, $just: space-between);
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    &__arrow {
      width: 30px;
    }

    &__indicators {
      @include make-flex($dir: row);
      gap: 100px;
    }
  }
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--blue);
  opacity: 25%;
  transition: all 0.3s ease-in-out;
}

.active {
  opacity: 100%;
  background: var(--blue);
}
