@import "../../styles/root/mixins";
@import "../../styles/root/theme/light.scss";

.MobileContainer {
  margin: 50px 0;
  padding: 0 30px;
  width: 100%;
  @include respondAtAlt(780px) {
    display: none;
  }
  @include respondAt(335px) {
    padding: 15px;
  }
  font-family: ("poppins");

  &__ImageContainer {
    &__image {
      opacity: 100;
      margin-top: 30px;
      width: 450px;
      transition: all 0.3s ease-in-out;
    }
  }

  &__title {
    font-size: 33px;
    font-weight: 600;
    color: var(--primaryTextColor);
    margin-bottom: 25px;

    span {
      background: var(--titleHighlight);
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      font-weight: 700;
    }
  }

  &__desc {
    color: var(--primaryTextColor);
    font-size: 13px;
    line-height: 167.5%;
    margin-bottom: 25px;
  }

  margin-left: auto;
  margin-right: auto;
  max-width: 500px;

  &__scrollerContainer {
    @include make-flex($dir: row, $just: space-between, $align: center);

    &__arrow {
      width: 35px;
      cursor: pointer;
    }

    &__indicators {
      @include make-flex($dir: row, $just: space-evenly);
      width: 100%;
    }
  }
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid var(--blue);
  opacity: 25%;
  transition: all 0.3s ease-in-out;
}

.active {
  opacity: 100%;
  background: var(--blue);
}
