@import "../../styles/root/mixins";

.ButtonLinkWrapper {
  @include box(200px, 40px);
  @include make-flex();

  border-radius: 7px;
  border: 2px solid var(--blue);
  cursor: pointer;
  color: var(--blue);
  text-decoration: none;
  padding: 10px 12px;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;

  @include respondAt(780px) {
    font-size: 14px;
    padding: 6px 8px;
  }
  &:hover {
    background-color: var(--blue);
    color: var(--white);
  }

  &--fill {
    background-color: var(--blue);
    color: var(--white);

    &:hover {
      background-color: var(--transparent);
      color: var(--blue);
    }
  }
  &--fill2 {
    border: 1.5px solid var(--primaryTextColor);
    background-color: var(--transparent);
    color: var(--primaryTextColor) !important;

    &:hover {
      border: 1.5px solid var(--blue);
      background-color: var(--white);
      color: var(--white);
    }
  }
}
