@import "../../styles/root/mixins";
@import "../../styles/root/theme/light.scss";

.calendar-container {
  font-family: ("poppins");
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 1.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigator {
      display: flex;
      gap: 30px;
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 20%;
      background: var(--primaryTextColor);
      color: white;
    }
    &__monthNames {
      font-weight: 700;
      font-size: 21px;
    }
  }

  &__daynames {
    margin-top: 30px;
    display: flex;

    &__day {
      font-size: 15px;
      width: 114.5px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
  &__week-container {
    display: flex;
  }

  &__day-container {
    position: relative;
    background: white;
    border: rgba(164, 160, 160, 0.178) 2px solid;
    width: 114.5px;
    padding: 2rem;
  }

  &__day-container-fadded {
    position: relative;
    background: white;
    border: rgba(164, 160, 160, 0.178) 2px solid;
    width: 114.5px;
    padding: 2rem;
    color: rgba(255, 0, 0, 0.538);
    font-weight: 700;
  }

  &__eventShow {
    position: absolute;
    z-index: 1;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    box-shadow: 1px 3px;
    right: -15%;
    bottom: -5%;
    background: var(--contactHover);
  }

  &__eventHide {
    display: none;
  }
}
