@import "../../styles/root/mixins";
@import "../../styles/root/theme/light.scss";

.hide {
  display: none;
  transform: translateY(-10%);
  transition: all 0.5s;
}

.overlay {
  filter: blur(2px);
}

.calendar-container {
  position: relative;
  font-family: ("poppins");
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--calenderColor);
  // color: var(--calenderColor);
  @include respondAt(1041px) {
    padding: 1rem;
  }

  &__modal {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: var(--primaryTextColor);
    transition: all 0.5s;

    &__inputs {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      margin-left: auto;
      width: 400px;
      gap: 25px;
      margin-top: 50px;

      input {
        height: 40px;
        width: 100%;
        padding: 0.6rem;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigator {
      display: flex;
      gap: 30px;
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 20%;
      background: transparent;
      color: var(--calendarSwitchButton);
    }
    &__monthNames {
      color: var(--textColor);
      font-weight: 700;
      font-size: 21px;
    }
  }

  &__daynames {
    margin-top: 30px;
    // background: #c6f1ff;
    border-radius: 21px 21px 0 0;
    padding: 16px 0;
    display: flex;
    background-color: #d0eeff;

    &__day {
      font-size: 15px;
      // min-width: 114.5px;
      width: 100%;
      text-align: center;
      font-weight: 400;
      color: var(--highlightTextColor);
      // margin-bottom: 15px;
    }
  }
  &__week-container {
    background: var(--calenderColor);

    display: flex;
  }

  &__day-container {
    position: relative;
    background: var(--calenderColor);
    border-top: rgba(164, 160, 160, 0.178) 1px solid;
    border-left: rgba(164, 160, 160, 0.178) 1px solid;
    width: 114.5px;
    height: 88px;
    color: var(--textColor);
    // padding: 2rem;
    padding: 7px;
    @include make-flex($just: flex-start, $align: flex-end);
    cursor: pointer;
    &:first-child {
      border-left: unset;
    }

    @include respondAt(685px) {
      height: 70px;
    }
    @include respondAt(505px) {
      height: 45px;
    }
  }

  &__day-container-faded {
    position: relative;
    background: white;
    border-top: rgba(164, 160, 160, 0.178) 1px solid;
    border-left: rgba(164, 160, 160, 0.178) 1px solid;
    width: 114.5px;
    height: 88px;
    padding: 7px;
    background-color: var(--calenderColor);
    @include make-flex($just: flex-start, $align: flex-end); // padding: 2rem;
    color: var(--fadedDayContainer);
    font-weight: 700;
    cursor: pointer;
    &:first-child {
      border-left: unset;
    }
    @include respondAt(685px) {
      height: 70px;
    }
    @include respondAt(505px) {
      height: 45px;
    }
  }

  &__eventShow {
    @include make-flex($align: flex-start, $just: flex-start);
    row-gap: 10%;
    padding: 7% 0.7rem;
    flex-wrap: wrap;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    margin: 2px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    right: -15%;
    bottom: -5%;
    background: var(--contactHover);
    color: var(--calendarCardText);
    &--eventName {
      font-size: 13px;
      @include respondAt(685px) {
        font-size: xx-small;
      }
    }
    &--eventTime {
      font-size: 10px;
      @include respondAt(685px) {
        font-size: xx-small;
      }
    }

    @include respondAt(616px) {
      padding: 4% 0.2rem;
      row-gap: 0;
    }

    @include respondAt(506px) {
      p {
        display: none;
      }
      background: var(--textColor);
      padding: 5%;
      margin: 0;
      right: 75%;
      bottom: 15%;
    }
  }

  &__eventHide {
    display: none;
  }
}
