@import "../../styles/root/mixins";
@import "../../styles/root/theme/light.scss";

.InfoComponent {
  &__Container {
    position: sticky;
    top: 30%;
  }

  &__content--container {
    display: flex;
    gap: 40px;
    &__indicator--container {
      &__indicator {
        display: flex;
        margin-bottom: 70px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 2px solid var(--blue);
      }

      .active {
        background: var(--blue);
      }
    }

    &__content {
      &__title {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: var(--primaryTextColor);
        font-size: 43px;

        span {
          border: 2px solid var(--blue);
          font-weight: 600;
        }
      }
    }
  }
}
